<!-- Start: Header -->

<include src="components/header.html" pagetitle="Swaraj"></include>
<include src="components/inner-header-components.html" pagetitle="Swaraj"></include>

<div class="container">
	<div class="page-not-found CTR">
		<figure><img src="images/404.jpg" alt="" class="img-responsive"></figure>
		<h3>404 Error!</h3>
		<h4>Sorry! page not found.</h4>
	</div>
</div>



<!-- Start: Footer -->

    <include src="components/footer-component.html"></include>
    <include src="components/footer.html"></include>

<!--end-->
