<!-- Start: Header -->
<include src="components/header.html" pagetitle="Swaraj"></include>
<include src="components/inner-header-components.html" pagetitle="Swaraj"></include>

<include src="components/article-hero-banner.html" pagetitle="Swaraj"></include>

<div class="article">
        <include src="components/article-components-1.html"></include>
        <include src="components/article-components-2.html"></include>
        <include src="components/article-components-3.html"></include>
</div>
<include src="components/article-components-4.html"></include>
<include src="components/search-components-7.html" ></include>

<!-- Start: Footer -->

    <include src="components/footer-component.html"></include>
    <include src="components/footer.html"></include>

<!--end-->
