<!-- Start: Header -->
<include src="components/header.html" pagetitle="Swaraj"></include>
<include src="components/inner-header-components.html" pagetitle="Swaraj"></include>
<div class="inner-hero">
    <div class="hero-box">
        <!-- <div class="container">
               <ul class="breadcrumb">
                   <li><a href="#">Home</a></li>
                   <li><a href="#">Product & services</a></li>
                   <li>Implements</li>
               </ul>
           </div> -->

        <div class="hero-container">
            <div class="container">
                <h4>Thank you</h4>
            </div>
        </div>
        <div>
            <img class="img-responsive hidden-xs" src="images/inner-hero.jpg" alt="">
            <img class="img-responsive visible-xs" src="images/inner-hero-m.jpg" alt="">
        </div>
    </div>
</div>
<div class="PR">
    <div class="quick-tools">
        <ul>
            <li>
                <a href=""><img src="images/svg/Call.svg" alt=""><span>Get a Call Back</span></a>
            </li>

            <li>
                <a href=""><img src="images/svg/Tractor.svg" alt=""><span>Test Drive</span></a>
            </li>

            <li>
                <a href=""><img src="images/svg/Nevigation.svg" alt=""><span>Dealer Locator </span></a>
            </li>

            <li>
                <a href=""><img src="images/svg/Repair.svg" alt=""><span>Service Request</span></a>
            </li>
        </ul>
        <div class="visible-xs visible-sm">
            <div class="all-products-quicklink">
                <a href="javascript:void(0)" class="">All Products</a>
                <a href="javascript:void(0)" class="quickLink">Quick Links</a>
            </div>
        </div>
    </div>
</div>
<section class="listing-section-1">
    <div class="container os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
        <div class="row">
            <div class="col-md-12 CTR">
                <h4>THANK YOU FOR REACHING OUT</h4>
                <p>We appreciate your effort and time, <br> someone from SWARAJ family will contact you soon</p>
            </div>
        </div>
    </div>
</section>

<!-- Start: Footer -->

<include src="components/footer-component.html"></include>
<include src="components/footer.html"></include>

<!--end-->
