<!-- Start: Header -->

<include src="components/header.html" pagetitle="Swaraj"></include>
<include src="components/inner-header-components.html" pagetitle="Swaraj"></include>

<include src="components/contact-hero-banner.html" ></include>

<include src="components/contact-components-1.html" ></include>
<include src="components/contact-components-2.html" ></include>

<form action="" id="myform">

<include src="components/contact-components-3.html" ></include>
<include src="components/contact-components-4.html" ></include>
<include src="components/contact-components-5.html" ></include>
<include src="components/contact-components-6.html" ></include>
<include src="components/contact-components-7.html" ></include>
<include src="components/contact-components-8.html" ></include>

</form>

<!-- Start: Footer -->

<include src="components/footer-component.html"></include>
<include src="components/footer.html"></include>

<div class="popupBox2" id="dialog"> 
        <p class="close-btn"><a href="" onclick="hide_album()"></a></p>
        <div class="CTR"> 
            <figure><img src="images/popup-img.gif" alt=""></figure>

            <div class="content">
                    <h4>
                            Thank you for reaching out
                    </h4>
                    <p>
                            We appreciate your effort and time, someone from SWARAJ family will contact you soon
                    </p>
            </div>

           
        </div>
        
    </div>

<!--end-->
