<!-- Start: Header -->
<include src="components/header.html" pagetitle="Swaraj"></include>
<include src="components/dealer-header-comp.html"></include>
<!--end-->

<include src="components/dealer-banner.html"></include>
<include src="components/dealer-comp-1.html"></include>
<include src="components/dealer-comp-2.html"></include>
<include src="components/dealer-comp-3.html"></include>

<!-- Start: Footer -->
<include src="components/dealer-footer-comp.html"></include>
<include src="components/footer.html"></include>
<!--end-->
