<!-- Start: Header -->
<include src="components/header-poppins.html" pagetitle="Swaraj"></include>
<include src="components/header-components.html" pagetitle="Swaraj"></include>
<include src="components/hero-banner.html" pagetitle="Swaraj"></include>
<include src="components/home-components-1.html" pagetitle="Swaraj"></include>
<include src="components/home-components-2.html" pagetitle="Swaraj"></include>
<include src="components/home-components-3.html" pagetitle="Swaraj"></include>
<include src="components/home-components-4.html" pagetitle="Swaraj"></include>
<include src="components/home-components-5.html" pagetitle="Swaraj"></include>
<include src="components/home-components-6.html" pagetitle="Swaraj"></include>
<!-- Start: Footer -->

    <include src="components/footer-component.html"></include>
    <include src="components/footer.html"></include>

<!--end-->
