<!-- Start: Header -->
<include src="components/header.html" pagetitle="Swaraj"></include>
<include src="components/inner-header-components.html" pagetitle="Swaraj"></include>
<include src="components/inner-hero-banner.html" pagetitle="Swaraj"></include>
<div class="PR">
    <div class="quick-tools">
        <ul>
            <li>
                <a href=""><img src="images/svg/Call.svg" alt=""><span>Get a Call Back</span></a>
            </li>

            <li>
                <a href=""><img src="images/svg/Tractor.svg" alt=""><span>Test Drive</span></a>
            </li>

            <li>
                <a href=""><img src="images/svg/Nevigation.svg" alt=""><span>Dealer Locator </span></a>
            </li>

            <li>
                <a href=""><img src="images/svg/Repair.svg" alt=""><span>Service Request</span></a>
            </li>
        </ul>
        <div class="visible-xs visible-sm">
            <div class="all-products-quicklink">
                <a href="javascript:void(0)" class="">All Products</a>
                <a href="javascript:void(0)" class="quickLink">Quick Links</a>
            </div>
        </div>
    </div>
</div>
<include src="components/listing-components-1.html" pagetitle="Swaraj"></include>
<include src="components/listing-components-2.html" pagetitle="Swaraj"></include>
<include src="components/listing-components-3.html" pagetitle="Swaraj"></include>
<!-- Start: Footer -->

    <include src="components/footer-component.html"></include>
    <include src="components/footer.html"></include>

<!--end-->
