<!-- Start: Header -->

<include src="components/header.html" pagetitle="Swaraj"></include>
<include src="components/inner-header-components.html" pagetitle="Swaraj"></include>

<include src="components/pro-details-components-1.html" ></include>
<include src="components/pro-details-components-2.html" ></include>
<include src="components/pro-details-components-3.html" ></include>
<include src="components/pro-details-components-4.html" ></include>
<include src="components/pro-details-components-5.html" ></include>
<include src="components/pro-details-components-6.html" ></include>
<include src="components/pro-details-components-7.html" ></include>
<include src="components/pro-details-components-8.html" ></include>
<include src="components/pro-details-components-9.html" ></include>
<include src="components/pro-details-components-10.html" ></include>

<!-- Start: Footer -->

    <include src="components/footer-component.html"></include>
    <include src="components/footer.html"></include>

<!--end-->
