<!-- Start: Header -->
<include src="components/header.html" pagetitle="Swaraj"></include>
<include src="components/inner-header-components.html" pagetitle="Swaraj"></include>

<include src="components/about-hero-banner.html" pagetitle="Swaraj"></include>
<include src="components/team-components-0.html" pagetitle="Swaraj"></include>
<include src="components/team-components-1.html" pagetitle="Swaraj"></include>
<include src="components/team-components-2.html" pagetitle="Swaraj"></include>
<include src="components/home-components-6.html" pagetitle="Swaraj"></include>

<!-- Start: Footer -->

    <include src="components/footer-component.html"></include>
    <include src="components/footer.html"></include>

<!--end-->
