<section class="our-pride opt2">
    <div class="container ourpride-title os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
        <div class="row">
            <div class="col-md-12 CTR MTAL">
                <h4>Lorem Ipsum dolor</h4>
                <p>Lorem ipsum dolor sit amet, consectetur
adipiscing elit. Aenean euismod bibendum
laoreet ipsum sit.</p>
            </div>
        </div>
    </div>
    <div class="tesimonial-carousel owl-carousel os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
        <div>
            <div class="our-pride-box flex-row">
                <figure><a class="play-icon" href="#myModalVideo" data-toggle="modal"><img src="images/play.png"></a><img src="images/250x300-2.jpg" alt="" class="hidden-xs"> <img src="images/335x150-1.jpg" alt="" class="visible-xs"></figure>
                <div class="tesimonial-box">
                    <p><img src="images/svg/tesimonial.svg" width="40" alt=""></p>
                    <p>Swaraj is the proof of right combination of  passion,
hardwork and vision meeting dreams. Living each
day to be better than yesterday</p>
                    <p class="name-box">Mr. Rahul Bhatia</p>
                    <p>CEO SWARAJ</p>
                </div>
            </div>
        </div>
        <div>
            <div class="our-pride-box flex-row">
                <figure><img src="images/250x300.jpg" alt="" class="hidden-xs"> <img src="images/335x150.jpg" alt="" class="visible-xs"></figure>
                <div class="tesimonial-box">
                    <p><img src="images/svg/tesimonial.svg" width="40" alt=""></p>
                    <p>Greateful to swaraj dealer for saving the day by delivering the spare tractor when mine broke in the middle of my harvest.</p>
                    <p class="name-box">Mr. Naveen Singh</p>
                    <p>Phatankot, Punjab</p>
                </div>
            </div>
        </div>
        <div>
            <div class="our-pride-box flex-row">
                <figure><img src="images/250x300.jpg" alt="" class="hidden-xs"> <img src="images/335x150.jpg" alt="" class="visible-xs"></figure>
                <div class="tesimonial-box">
                    <p><img src="images/svg/tesimonial.svg" width="40" alt=""></p>
                    <p>Greateful to swaraj dealer for saving the day by delivering the spare tractor when mine broke in the middle of my harvest.</p>
                    <p class="name-box">Mr. Naveen Singh</p>
                    <p>Phatankot, Punjab</p>
                </div>
            </div>
        </div>
        <div>
            <div class="our-pride-box flex-row">
                <figure><img src="images/250x300.jpg" alt="" class="hidden-xs"> <img src="images/335x150.jpg" alt="" class="visible-xs"></figure>
                <div class="tesimonial-box">
                    <p><img src="images/svg/tesimonial.svg" width="40" alt=""></p>
                    <p>Greateful to swaraj dealer for saving the day by delivering the spare tractor when mine broke in the middle of my harvest.</p>
                    <p class="name-box">Mr. Naveen Singh</p>
                    <p>Phatankot, Punjab</p>
                </div>
            </div>
        </div>
    </div>
    <p class="CTR MT30"><a href="#" class="btn btn-default">View the Team</a></p>
</section>