<section class="common-section">
    <div class="container os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
        <div class="row">
            <div class="col-md-12 CTR MTAL">
                <h4>SWARAJ</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor.</p>
            </div>
        </div>
        <div class="about-img-box">
            <div class="img-box-1"><img src="images/about-01.jpg" alt=""></div>
            <div class="img-box-2"><img src="images/about-02.jpg" alt=""></div>
            <div class="img-box-3"><img src="images/about-03.jpg" alt=""></div>
            <div class="info-box">
                <div class="about-detail">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Aenean euismod bibendum laoreet. Proin gravida dolor
    sit amet lacus accumsan et viverra justo commodo. Proin
    sodales pulvinar sic tempor. Sociis natoque penatibus et
    magnis dis parturient montes, nascetur ridiculus mus.
    Nam fermentum, nulla luctus pharetra... <a href="#" class="read-details">VIEW MORE</a></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Aenean euismod bibendum laoreet. Proin gravida dolor
    sit amet lacus accumsan et viverra justo commodo.</p>
                </div>
                <p class="MT20"><a href="#" class="btn btn-default green">View our Milestone</a></p>
            </div>
        </div>
    </div>
</section>