<section class="common-section">
    <div class="container os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
        <div class="row">
            <div class="col-md-12 CTR MTAL">
                <h4>Commitment to Excellence</h4>
                <p>Continuous innovation, upgradation and efficient use of our resources</p>
            </div>
        </div>
       <div class="row">
            <div class="col-md-12">
                <div class="commitment-carousel owl-carousel green">
                    <div>
                        <div class="commitment-box">
                            <figure><a class="play-icon" href="#myModalVideo" data-toggle="modal"><img src="images/play.png"></a><img src="images/530x273.jpg" class="img-responsive"></figure>
                            <div class="commitment-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
    euismod bibendum laoreet. Proin gravida dolor sit amet lacus
    accumsan et viverra justo commodo. Proin sodales pulvinar sic
    tempor. Sociis natoque penatibus et magnis dis parturient
    montes, nascetur ridiculus mus. Nam fermentum, nulla luctus
    pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin
    sapien nunc accuan eget.</div>
                        </div>
                    </div>
                    <div>
                        <div class="commitment-box">
                            <figure><img src="images/530x273.jpg" class="img-responsive"></figure>
                            <div class="commitment-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
    euismod bibendum laoreet. Proin gravida dolor sit amet lacus
    accumsan et viverra justo commodo. Proin sodales pulvinar sic
    tempor. Sociis natoque penatibus et magnis dis parturient
    montes, nascetur ridiculus mus. Nam fermentum, nulla luctus
    pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin
    sapien nunc accuan eget.</div>
                        </div>
                    </div>
                    <div>
                        <div class="commitment-box">
                            <figure><img src="images/530x273.jpg" class="img-responsive"></figure>
                            <div class="commitment-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
    euismod bibendum laoreet. Proin gravida dolor sit amet lacus
    accumsan et viverra justo commodo. Proin sodales pulvinar sic
    tempor. Sociis natoque penatibus et magnis dis parturient
    montes, nascetur ridiculus mus. Nam fermentum, nulla luctus
    pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin
    sapien nunc accuan eget.</div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
</section>