<section class="the-farmer">
    <div class="container os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
        <div class="row">
            <div class="col-md-8 col-md-push-2 CTR MTAL">
                <h4>By the farmer for the farmer</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.</p>
            </div>
        </div>
        <div class="MT50">
            <div class="the-farmer-carousel owl-carousel green">
                <div>
                    <div class="farmer-box">
                        <figure><img src="images/svg/who-we-are.svg" alt="" class="normal-img"> <img src="images/svg/happy-customer-hover.svg" alt="" class="hover-img"></figure>
                        <h3>WHO WE ARE?</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    </div>
                </div>
                <div>
                    <div class="farmer-box">
                        <figure> <img src="images/svg/our-philosophy.svg" alt="" class="normal-img"><img src="images/svg/dealer.svg" alt="" class="hover-img"></figure>
                        <h3>OUR PHILOSOPHY</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    </div>
                </div>
                <div>
                    <div class="farmer-box">
                        <figure><img src="images/svg/our-mission.svg" alt="" class="normal-img"> <img src="images/svg/dedicated-employees-hover.svg" alt="" class="hover-img"></figure>
                        <h3>OUR MISSION</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    </div>
                </div>
                <div>
                    <div class="farmer-box">
                        <figure> <img src="images/svg/our-philosophy.svg" alt="" class="normal-img"><img src="images/svg/dealer.svg" alt="" class="hover-img"></figure>
                        <h3>OUR PHILOSOPHY</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    </div>
                </div>
                <div>
                    <div class="farmer-box">
                        <figure><img src="images/svg/our-mission.svg" alt="" class="normal-img"> <img src="images/svg/dedicated-employees-hover.svg" alt="" class="hover-img"></figure>
                        <h3>OUR MISSION</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>