<div class="media-hero-carousel owl-carousel clearfix inner-hero">
      <div class="hero-box">
         <figure>
               <img src="images/media-hero-ban.jpg" alt="" class="hidden-xs">
               <img src="images/media-hero-ban-m.jpg" alt="" class="visible-xs">
         </figure>
         <div class="hero-container">
               <div class="container">
                  <div class="row flex-row product-info">
                     <div class="col-md-5">
                           <h1>About us</h1>
                           <h3>Lorem Ipsum is simply.</h3>
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting
industry. Lorem Ipsum has been the Lorem Ipsum has been the
industry's standard industry's standard dummy text.</p>
                        <p class="MT20">
                              <a class="btn btn-default watch MR15">watch video </a>
                        </p>
                     </div>
                  </div>
               </div>
         </div>
      </div>
      <div class="hero-box">
         <figure>
               <img src="images/media-hero-ban.jpg" alt="" class="hidden-xs">
               <img src="images/media-hero-ban-m.jpg" alt="" class="visible-xs">
         </figure>
         <div class="hero-container">
               <div class="container">
                  <div class="row flex-row product-info">
                     <div class="col-md-5">
                           <h1>About us</h1>
                           <h3>Lorem Ipsum is simply.</h3>
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting
industry. Lorem Ipsum has been the Lorem Ipsum has been the
industry's standard industry's standard dummy text.</p>
                        <p class="MT20">
                              <a class="btn btn-default watch MR15">watch video </a>
                        </p>
                     </div>
                  </div>
               </div>
         </div>
      </div>
      <div class="hero-box">
         <figure>
               <img src="images/media-hero-ban.jpg" alt="" class="hidden-xs">
               <img src="images/media-hero-ban-m.jpg" alt="" class="visible-xs">
         </figure>
         <div class="hero-container">
               <div class="container">
                  <div class="row flex-row product-info">
                     <div class="col-md-5">
                           <h1>About us</h1>
                           <h3>Lorem Ipsum is simply.</h3>
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting
industry. Lorem Ipsum has been the Lorem Ipsum has been the
industry's standard industry's standard dummy text.</p>
                        <p class="MT20">
                              <a class="btn btn-default watch MR15">watch video </a>
                        </p>
                     </div>
                  </div>
               </div>
         </div>
      </div>
      <div class="hero-box">
         <figure>
               <img src="images/media-hero-ban.jpg" alt="" class="hidden-xs">
               <img src="images/media-hero-ban-m.jpg" alt="" class="visible-xs">
         </figure>
         <div class="hero-container">
               <div class="container">
                  <div class="row flex-row product-info">
                     <div class="col-md-5">
                           <h1>About us</h1>
                           <h3>Lorem Ipsum is simply.</h3>
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting
industry. Lorem Ipsum has been the Lorem Ipsum has been the
industry's standard industry's standard dummy text.</p>
                        <p class="MT20">
                              <a class="btn btn-default watch MR15">watch video </a>
                        </p>
                     </div>
                  </div>
               </div>
         </div>
      </div>

      
</div>
<div class="clearfix"></div>
