<section class="usr-bx">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Tips and tricks to improve the wheat farming and production</h3>
                <div class="usr-info">
                    <div>
                        <img class="img-circle" src="images/user-img-1.jpg" alt="">
                    </div>

                    <div>
                        <span class="name">By Supriya sen</span>
                        <span>21st May, 2018</span>
                    </div>
                    
                </div>
                <p >
                    Returns are easy and simple . Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverraelit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra endum laoreet. Proin gravida dolor sit amet lacus accumsan et viverraelit. Aenean.Proin gravida dolor sit amet lacus accumsan et viverraelit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra endum laoreet. Proin gravida dolor sit amet lacus accumsan et viverraelit. Aenean
                </p>
            </div>
        </div>
    </div>
</section>