<section class="article-qt-bx">
    <div class="container">
        <div class="row flex-row">
            <div class="col-md-4 col-sm-4 MT30">
                <div class="gray-bx">
                    <p class="title">Related Links</p>
                    <hr>
                    <ul>
                        <li><a href="#">See all the products</a></li>
                        <li><a href="#">Find the dealer near you</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-8 col-sm-8 MT30">
                <div class="testQuote">
                        Endum laoreet. Proin gravida dolor sit amet lacus accumsan et viverraelit. 
                        Aenean euismod bibendum laoreet. Proin gravida dolor sit  lacus laoreet. 
                        Pro amet lacus
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Lorem ipsum</h4>
                <p>
                        endum laoreet. Proin gravida dolor sit amet lacus accumsan et viverraelit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverraendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverraelit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverraendum laoreet. Proin gravida dolor sit amet lacus accumsan e
                </p>

                <p class="MT30">
                    <img class="full-width" src="images/art-img-1.png" alt="">
                </p>

                <h4> Cum sociis natoque penatibus</h4>

                <p>
                        endum laoreet. Proin gravida dolor sit amet lacus accumsan et viverraelit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverraendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverraelit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverraendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverraelit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
                </p>
            </div>
        </div>

        <div class="row hidden-xs">
            <div class="col-md-7 MT30">
                    <a class="play-icon" href="#myModalVideo" data-toggle="modal"><img src="images/play.png"></a>
                    <img class="full-width" src="images/art-img-2.jpg" alt="">
            </div>
            <div class="col-md-5 MT30">
                <div class="row">
                    <div class="col-md-12">
                        <img class="full-width" src="images/art-img-3.jpg" alt="">
                    </div>

                    <div class="col-md-12 MT30">
                        <img class="full-width" src="images/art-img-4.jpg" alt="">
                    </div>
                </div>
                    
            </div>
        </div>

        <div class="row visible-xs MT15">
            <div class="col-md-12">
                <div class="article-media-car owl-carousel green">
                    <div>
                        <a class="play-icon" href="#myModalVideo" data-toggle="modal"><img src="images/play.png"></a>
                        <img class="full-width" src="images/art-img-2.jpg" alt="">
                    </div>

                    <div>
                        <img class="full-width" src="images/art-img-2.jpg" alt="">
                    </div>

                    <div>
                        <a class="play-icon" href="#myModalVideo" data-toggle="modal"><img src="images/play.png"></a>
                        <img class="full-width" src="images/art-img-2.jpg" alt="">
                    </div>
    
                    <div>
                        <img class="full-width" src="images/art-img-2.jpg" alt="">
                    </div>


                </div>
            </div>
        </div>


        <div class="row hidden-xs">
            <div class="col-md-12 MT30">
                    <a class="play-icon" href="#myModalVideo" data-toggle="modal">
                        <img src="images/play.png">
                    </a>
                    <img class="full-width" src="images/art-img-1.jpg" alt="">
            </div>
        </div>

        <div class="row hidden-xs">
                <div class="col-md-6 MT30">
                    <a class="play-icon" href="#myModalVideo" data-toggle="modal">
                        <img src="images/play.png">
                    </a>
                    <img class="full-width" src="images/art-img-3.jpg" alt="">
                </div>

                <div class="col-md-6 MT30">
                    <img class="full-width" src="images/art-img-4.jpg" alt="">
                </div>
        </div>

        <div class="row MT30">
            <div class="col-md-12">
                <p>
                        KJ dolor sit amet lacus accumsan et viverraelit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverraendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverraelit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverraendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverraelit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
                        <br><br>
                        Famet lacus accumsan et viverraelit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverraendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverraelit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverraendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverraelit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                    <div class="follow-us">
                        <span>Share in</span>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
            </div>
        </div>

        
    </div>
</section>