<div class="inner-hero contact-hero">
    <div class="hero-box">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Contact</a></li>
                    <li>Connect</li>
                </ul>
            </div>

            <div class="hero-container">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="text-right">
                                <h4>CONTACT</h4>
                                
                                <p>
                                    Thanks for connecting with Swaraj, you can share<br>
                                    your query below
                                </p>
                                
                            </div>
                            <hr class="visible-xs">
                        </div>

                       

                        <div class="col-md-6 col-sm-6">
                            <div class="text-left">
                                <h5>Head Office</h5>
                                <p x-ms-format-detection="none">
                                    Swaraj Division, Mahindra & Mahindra Ltd. Phase IV, <br>
                                    Industrial Area, S.A.S Nagar (Mohali), <br>
                                    Punjab -160055. <br>
                                    Phone No: 0091-172-2271620 to 27 <br>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div>
            <img class="img-responsive hidden-xs" src="images/contact-hero-ban.jpg" alt="">
            <img class="img-responsive visible-xs" src="images/contact-hero-ban-m.jpg" alt="">
        </div>
    </div>
</div>