<section class="tell-us-box step-bx visible-xs">
    <div class="container">
        <div class="row step st2">
            <div class="col-md-12">
                <p><span></span>Looking for</p>
            </div>
        </div>

        <div class="row step st3">
            <div class="col-md-12">
                <p><span></span>Located at</p>
            </div>
        </div>

        <div class="row step st4">
            <div class="col-md-12">
                <p><span></span>Message</p>
            </div>
        </div>
        
    </div>
</section>