<section class="connect-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12 CTR">
                <h4>How Can I Help You?</h4>
                <div class="business-select-box">
                    <span class="iam">I am a</span> 
                    <span class="businessP">
                        <select class="selectpicker" name="" id="">
                            <option value="">business person</option>
                            <option value="">business person 2</option>
                            <option value="">business person 3</option>
                            <option value="">business person 4</option>
                        </select>
                    </span>

                    <span class="for">, connecting for</span> 
                    <span class="request">
                        <select class="selectpicker" name="" id="">
                            <option value="">spare part request</option>
                            <option value="">spare part request 1</option>
                            <option value="">spare part request 2</option>
                            <option value="">spare part request 3</option>
                        </select>
                    </span>

                </div>
            </div>
        </div>
    </div>
</section>