<div class="listing-tab-wrapper searchTab">
    <section class="listing-tab">
        <div class="container tabs-slider os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
            <div class="row">
                <div class="col-md-12 flexrow">
                    <div class="tabsnav active"><a href="contact.html">connect</a></div>
                    <div class="tabsnav"><a href="near-me.html">near me</a></div>
                </div>
                
            </div>
        </div>

    </section>
</div>