<section class="tell-us-box test-drive-bx">
    <div class="container">
        <div class="row flex-row">

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="about-bx">
                            <p class="svg">
                                <img src="images/svg/drive-icon.svg" alt="">
                            </p>
                            <h6>Book a TEST DRIVE </h6>
                            <p class="para">
                                Its good to have the test ride before
                                buying your tractor! Select the date
                                and time convenient for you.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-container">
                            <div class="radio-btn-container">
                                <div class="form-group">
                                    <label class="radio-inline inp-cont">
                                        Implements
                                        <input checked="checked" type="radio" name="sltProImpForm"
                                            value="implements-form">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-inline inp-cont">
                                        Products
                                        <input type="radio" name="sltProImpForm" value="products-form">

                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>

                            <div class="ProImpForm" id="implements-form">
                                <div class="form-group">
                                    <select id="tractor_model" required="" class="selectpicker" name=""
                                        title="Tractor Model*" multiple data-max-options="3">
                                        <optgroup label="20-30HP">
                                            <option>724XM</option>
                                            <option>724XM ORCH</option>
                                            <option>724XM ORCH NT</option>
                                            <option>825XM</option>
                                        </optgroup>
                                        <optgroup label="30-40HP">
                                            <option>724XM</option>
                                            <option>724XM2</option>
                                        </optgroup>

                                    </select>




                                </div>

                                <div class="form-group">
                                    <input type="text" id="datetimepicker2" class="form-control date" id=""
                                        placeholder="Date">
                                </div>

                                <div class="form-group">
                                    <select class="selectpicker" name="" id="" title="Time">
                                        <option value="">12.00 PM</option>
                                        <option value="">1.00 PM</option>
                                        <option value="">2.00 PM</option>
                                    </select>

                                </div>
                            </div>

                            <div class="ProImpForm" id="products-form" style="display: none;">


                                <div class="form-group">
                                    <input type="text" class="form-control" id="" placeholder="Product Form">
                                </div>

                                <div class="form-group">
                                    <select class="selectpicker" name="" id="" title="Time">
                                        <option value="">12.00 PM</option>
                                        <option value="">1.00 PM</option>
                                        <option value="">2.00 PM</option>
                                    </select>

                                </div>
                            </div>





                        </div>
                    </div>
                </div>
            </div>

            <p class="text-center next-btn visible-xs">
                <a href="javascript:;">next</a>
            </p>

        </div>
    </div>
</section>