<div class="dealer-header">
  <div class="container">
    <div class="header-in">
      <div class="logo-box">
        <a href="#" class="green-logo"><img src="images/joshkaraaz-logo.png" alt=""></a>
      </div>
      <div class="language">
        <span class="g-logoLang"><img src="images/g-logo.png" alt=""></span>
        <!-- Code provided by Google -->
        <div id="google_translate_element"></div>
        <!-- <div id="google_translate_elementMobile"></div> -->
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({
      pageLanguage: 'en',
      includedLanguages: 'en,mr,hi,pa',
      layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
      autoDisplay: false
    }, 'google_translate_element');
  }

</script>
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
</script>
