<section class="map-section dealer">
  <div class="container">
    <h4 class="visible-sm visible-xs">Know Your Dealer</h4>
    <div class="row">
      <div class="col-md-5 map">
        <div id="map">
        </div>
      </div>
      <div class="col-md-7 map-info">
        <div class="hidden-sm hidden-xs">
          <h4>Know Your Dealer</h4>
          <hr>
        </div>
        <div class="marker-link">
          <h3>Manikant Automotives</h3>
          <div class="share-box">
            <span class="shareDrop"><img src="images/svg/share-icon.svg" alt="">
              <div class="shareList">
                <ul class="list-inline">
                  <li>
                    <a href="https://facebook.com" target="_blank"><img src="images/svg/fb-icon.svg" alt=""></a>
                  </li>
                  <li>
                    <a href="https://twitter.com" target="_blank"><img src="images/svg/twitter-icon.svg" alt=""></a>
                  </li>
                  <li>
                    <a href="https://web.whatsapp.com/" target="_blank"><img src="images/svg/whts-icon.svg" alt=""></a>
                  </li>
                  <li>
                    <a href="http://gmail.com" target="_blank"><img src="images/svg/gm-icon.svg" alt=""></a>
                  </li>
                </ul>
              </div>
            </span>
          </div>
          <ul class="map-list">
            <li>
              <p><span>Contact </span> Mr. P. Sai Kiran</p>
            </li>
            <li>
              <p> <span>Email Id </span> saimanikantaautomotive@gmail.com</p>
            </li>
            <li>
              <p> <span>Number</span>+91 73966 65678</p>
            </li>
            <li>
              <p> <span>Address</span>
                <strong>S.NO 2/2, Prathipadu Road, Main Road, Vadlamooru, Peddapuram, East Godavari,
                  Andhra Pradesh.
                  Pin Code- 533437</strong>
              </p>
            </li>
            <li>
              <div class="hours"> <span>Operating Hours</span>
                <ul>
                  <li><strong>Mon-Sat</strong>9:00 am - 6:00 pm</li>
                  <!-- <li><strong>Tue</strong>9:00 am - 4:00 pm</li>
                  <li><strong>Wed</strong>9:00 am - 4:00 pm</li>
                  <li><strong>Thu</strong>9:00 am - 4:00 pm</li>
                  <li><strong>Fri</strong>9:00 am - 4:00 pm</li>
                  <li><strong>Sat</strong>9:00 am - 2:00 pm</li> -->
                  <li><strong>Sun</strong>Closed</li>
                </ul>
              </div>

            </li>
          </ul>
          <div class="MT25">
            <a href="#" class="btn green btn-default">DIRECTION</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
