<div class="services-offered">
  <div class="container">
    <h4 class="CTR">Services Offered</h4>
    <div class="swaraj-carousel owl-carousel green">
      <div>
        <div class="CTR">
          <figure><img src="images/svg/service-point.svg" alt="" class="normal-img"> <img
              src="images/svg/service-point-hover.svg" alt="" class="hover-img"></figure>
          <h3>24 hour<br>helpline</h3>
        </div>
      </div>
      <div>
        <div class="CTR">
          <figure><img src="images/svg/happy-customer.svg" alt="" class="normal-img"> <img
              src="images/svg/happy-customer-hover.svg" alt="" class="hover-img"></figure>
          <h3>Tractor clean up<br>
            services</h3>
        </div>
      </div>
      <div>
        <div class="CTR">
          <figure> <img src="images/svg/dealer-hover.svg" alt="" class="normal-img"><img src="images/svg/dealer.svg"
              alt="" class="hover-img"></figure>
          <h3>Test drives and<br>
            demos</h3>
        </div>
      </div>
      <div>
        <div class="CTR">
          <figure><img src="images/svg/dedicated-employees.svg" alt="" class="normal-img"> <img
              src="images/svg/dedicated-employees-hover.svg" alt="" class="hover-img"></figure>
          <h3>Maintainence<br>
            Schemes</h3>
        </div>
      </div>
      <div>
        <div class="CTR">
          <figure><img src="images/svg/happy-customer.svg" alt="" class="normal-img"> <img
              src="images/svg/happy-customer-hover.svg" alt="" class="hover-img"></figure>
          <h3>24 hour<br>helpline</h3>
        </div>
      </div>
      <div>
        <div class="CTR">
          <figure><img src="images/svg/dealer.svg" alt="" class="normal-img"> <img src="images/svg/dealer-hover.svg"
              alt="" class="hover-img"></figure>
          <h3>Tractor clean up<br>
            services</h3>
        </div>
      </div>
    </div>
  </div>
</div>
