<div class="our-product-dealer">
  <div class="container">
    <div class="dorp-dwon-stop">
      <div class="flex">
        <div class="col-md-5 ">
          <div class="menu-left-box">
            <h4>OUR PRODUCTS</h4>
            <div class="sel-prod">
              <strong>11.18 kW (15 HP)</strong><span>735 fe</span>
            </div>
            <div class="prod-dtl">
              <h2 class="menu-trgr"><a href="#">11.18 kW (15 HP)</a> <span class="fa fa-angle-down"></span></h2>
              <div class="tog_cont menutabsbox">
                <ul>
                  <li class="active"><a href="#menutabs-1" data-catg="11.18 kW (15 HP)">735 fe</a></li>
                  <li><a href="#menutabs-2" data-catg="11.18 kW (15 HP)">735 xm</a></li>
                  <li><a href="#menutabs-3" data-catg="11.18 kW (15 HP)">735 fe</a></li>
                  <li><a href="#menutabs-4" data-catg="11.18 kW (15 HP)">735 xt</a></li>
                </ul>
              </div>
              <h2 class="menu-trgr"><a href="#">14.91-22.37 kW (20-30 HP)</a> <span class="fa fa-angle-down"></span>
              </h2>
              <div class="tog_cont menutabsbox">
                <ul>
                  <li><a href="#menutabs-1" data-catg="14.91-22.37 kW (20-30 HP)">735 fe</a></li>
                  <li><a href="#menutabs-2" data-catg="14.91-22.37 kW (20-30 HP)">735 xm</a></li>
                  <li><a href="#menutabs-3" data-catg="14.91-22.37 kW (20-30 HP)">735 fe</a></li>
                  <li><a href="#menutabs-4" data-catg="14.91-22.37 kW (20-30 HP)">735 xt</a></li>
                </ul>
              </div>
              <h2 class="menu-trgr"><a href="#">22.37-29.82 kW (30-40 HP)</a> <span class="fa fa-angle-down"></span>
              </h2>
              <div class="tog_cont menutabsbox">
                <ul>
                  <li><a href="#menutabs-1">735 fe</a></li>
                  <li><a href="#menutabs-2">735 xm</a></li>
                  <li><a href="#menutabs-3">735 fe</a></li>
                  <li><a href="#menutabs-4">735 xt</a></li>
                </ul>
              </div>
              <h2 class="menu-trgr"><a href="#">29.82-37.28 kW (40-50 HP)</a> <span class="fa fa-angle-down"></span>
              </h2>
              <div class="tog_cont menutabsbox">
                <ul>
                  <li><a href="#menutabs-1">735 fe</a></li>
                  <li><a href="#menutabs-2">735 xm</a></li>
                  <li><a href="#menutabs-3">735 fe</a></li>
                  <li><a href="#menutabs-4">735 xt</a></li>
                </ul>
              </div>
              <h2 class="menu-trgr"><a href="#">37.28-44.74 kW (50-60 HP)</a> <span class="fa fa-angle-down"></span>
              </h2>
              <div class="tog_cont menutabsbox">
                <ul>
                  <li><a href="#menutabs-1">735 fe</a></li>
                  <li><a href="#menutabs-2">735 xm</a></li>
                  <li><a href="#menutabs-3">735 fe</a></li>
                  <li><a href="#menutabs-4">735 xt</a></li>
                </ul>
              </div>
              <h2 class="menu-trgr"><a href="#">44.74-48.47 kW (60-65 HP)</a> <span class="fa fa-angle-down"></span>
              </h2>
              <div class="tog_cont menutabsbox">
                <ul>
                  <li><a href="#menutabs-1">735 fe</a></li>
                  <li><a href="#menutabs-2">735 xm</a></li>
                  <li><a href="#menutabs-3">735 fe</a></li>
                  <li><a href="#menutabs-4">735 xt</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="tab_container">
            <div id="menutabs-1" class="tab_content_box">
              <div class="menu-info">
                <div class="row">
                  <div class="col-md-8 col-md-push-2">
                    <figure><img src="images/tractor-1.png" alt="" class="img-responsive"></figure>
                  </div>
                </div>
                <h3>14.91-22.37 kW (20-30 HP) - 735 FE</h3>
                <div class="row menu-product-info">
                  <div class="col-md-4 col-sm-4">
                    <h5>Key Feature</h5>
                    <p>No. Of Cylinder : 2</p>
                    <p>Horsepower : 25 HP</p>
                    <p>Engine : 1824 CC</p>
                    <p>Brakes : Dry Disk brake</p>
                    <p>PTO HP : 22.5 HP</p>
                  </div>
                  <div class="col-md-8 col-sm-8 MT40">
                    <p>Swaraj 717 is the latest affordable & best-in-class tractor that helps redefine a farmer’s life
                      with solid performance and easy maintenance.</p>
                    <p class="MT25"><a href="#" class="btn btn-default outerline">View Details</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div id="menutabs-2" class="tab_content_box">
              <div class="menu-info">
                <div class="row">
                  <div class="col-md-8 col-md-push-2">
                    <figure><img src="images/product-tractor-1.png" alt="" class="img-responsive"></figure>
                  </div>
                </div>
                <h3>14.91-22.37 kW (20-30 HP) - 735 FE</h3>
                <div class="row menu-product-info">
                  <div class="col-md-4">
                    <h5>Key Feature</h5>
                    <p>Horsepower : 25 HP</p>
                    <p>Engine : 1824 CC</p>
                    <p>Brakes : Dry Disk brake</p>
                    <p>PTO HP : 22.5 HP</p>
                  </div>
                  <div class="col-md-8 col-sm-8 MT40">
                    <p>Swaraj 717 is the latest affordable & best-in-class tractor that helps redefine a farmer’s life
                      with solid performance and easy maintenance.</p>
                    <p class="MT25"><a href="#" class="btn btn-default outerline">View Details</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div id="menutabs-3" class="tab_content_box">
              <div class="menu-info">
                <div class="row">
                  <div class="col-md-8 col-md-push-2">
                    <figure><img src="images/tractor-1.png" alt="" class="img-responsive"></figure>
                  </div>
                </div>
                <h3>14.91-22.37 kW (20-30 HP) - 735 FE</h3>
                <div class="row menu-product-info">
                  <div class="col-md-4 col-sm-4">
                    <h5>Key Feature</h5>
                    <p>No. Of Cylinder : 2</p>
                    <p>Horsepower : 25 HP</p>
                    <p>Engine : 1824 CC</p>
                    <p>Brakes : Dry Disk brake</p>
                    <p>PTO HP : 22.5 HP</p>
                  </div>
                  <div class="col-md-8 col-sm-8 MT40">
                    <p>Swaraj 717 is the latest affordable & best-in-class tractor that helps redefine a farmer’s life
                      with solid performance and easy maintenance.</p>
                    <p class="MT25"><a href="#" class="btn btn-default outerline">View Details</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div id="menutabs-4" class="tab_content_box">
              <div class="menu-info">
                <div class="row">
                  <div class="col-md-8 col-md-push-2">
                    <figure><img src="images/product-tractor-1.png" alt="" class="img-responsive"></figure>
                  </div>
                </div>
                <h3>14.91-22.37 kW (20-30 HP) - 735 FE</h3>
                <div class="row menu-product-info">
                  <div class="col-md-4">
                    <h5>Key Feature</h5>
                    <p>Horsepower : 25 HP</p>
                    <p>Engine : 1824 CC</p>
                    <p>Brakes : Dry Disk brake</p>
                    <p>PTO HP : 22.5 HP</p>
                  </div>
                  <div class="col-md-8 col-sm-8 MT40">
                    <p>Swaraj 717 is the latest affordable & best-in-class tractor that helps redefine a farmer’s life
                      with solid performance and easy maintenance.</p>
                    <p class="MT25"><a href="#" class="btn btn-default outerline">View Details</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
