<footer class="footer dealer">
  <div class="container">
    <h5>FOLLOW US</h5>
    <ul class="list-box ">
      <li>
        <div class="follow-us">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
        </div>
      </li>
    </ul>
    <p>More details at <a href="https://www.swarajtractors.com/">https://www.swarajtractors.com/</a></p>
    <hr>
    <p>Copyright 2015 Mahindra & Mahindra Ltd., Swaraj Division.</p>
  </div>
</footer>
