<div class="dealer-banner">
    <div class="dealer-left">
      <div class="dealer-carousel owl-carousel">
        <figure>
          <img src="images/dealer-banner.jpg" class="img-responsive" alt="">
        </figure>
        <figure>
          <img src="images/dealer-banner.jpg" class="img-responsive" alt="">
        </figure>
        <figure>
          <img src="images/dealer-banner.jpg" class="img-responsive" alt="">
        </figure>
      </div>
    </div>
    <div class="dealer-right">
      <div class="know-more form-container">
        <h3 class="ft29">फॉर्म जमा करने के लिए धन्यवाद।</h3>
        <p class="MB30">हम आपसे जल्द ही संपर्क करेंगे।</p>
      
      </div>
    </div>
  </div>
  
  <section class="seo-tag">
    <div class="container">
      <div class="row">
        <div class="col-md-12 CTR">
          <h4>SWARAJ PURPOSE</h4>
  
          <p class="MT50">Established in 1974, Swaraj Tractors is India’s first indigenous tractor brand. A rapidly
            growing brand with a wide range of tractors from 15 HP to 65 HP, Swaraj stands firmly among the top tractor
            brands in India. Select from our range: 717 | 724 | 825 | 834 | 735 | 841 | 843 | 744 | 742 | 855 | 960 | 963.
            Book now to get the best offers and services in store.
          </p>
  
          <div class="MT50">
            <a href="https://www.swarajtractors.com/products" target="_blank" class="btn btn-default green">View Products</a>
          </div>
  
        </div>
      </div>
    </div>
  </section>