<div class="container">
    <div class="faqTitle">
        <div class="row">
                <div class="col-md-12">
                    <h5>Get Support</h5>
                    <p>( 7 days a week. : 9:30am to 7:30 pm IST , except national holidays )</p>
                </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="swaraj-carousel owl-carousel green">

                        <div class="CTR">
                            <figure> <a href="#"><img src="images/svg/mobile.svg" alt=""></a></figure>
                            <p><a href="#">+91 9223355122</a></p>
                        </div>

                        <div class="CTR">
                            <figure><a href="#"><img src="images/svg/whatsapp.svg" alt=""></a></figure>
                            <p><a href="#">+9191670711111</a></p>
                        </div>

                        <div class="CTR">
                            <figure><a href="mailto:farmer@swaraj.com"><img src="images/svg/email.svg" alt=""></a></figure>
                            <p><a href="mailto:farmer@swaraj.com">For farmer@swaraj.com</a></p>
                        </div>

                        <div class="CTR">
                            <figure><a href="#"><img src="images/svg/feedback.svg" alt=""></a></figure>
                            <p><a href="#">Submit a feedback</a></p>
                        </div>

                        
                </div>  
            </div>
        </div>
    </div>
    
</div>