<header class="header-box animate-strip">


    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="logo-box">
                    <a href="#" class="green-logo"><img src="images/joshkaraaz-logo.png" height="130" alt=""></a>
                    <a href="#" class="white-logo"><img src="images/joshkaraaz-logo.png" height="70" alt=""></a>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 hidden-xs">
                <div class="clearfix">
                    <div class="top-menu">
                        <ul>

                            <li>
                                <!-- <span class="g-logoLang"><img src="images/g-logo.png" alt=""></span>  -->

                                <!-- Code provided by Google -->
                                <!-- <div id="google_translate_element"></div> -->



                                <div class="dropdown transparent-bg v2">
                                    <button class="btn dropdown-toggle" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span class="lng">Select Language</span>
                                        <span class="fa fa-angle-down"></span>
                                    </button>
                                    <ul class="dropdown-menu langSlt" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">English</a></li>
                                        <li><a href="#">Marathi</a></li>
                                        <li><a href="#">hindi</a></li>
                                        <li><a href="#">Punjabi</a></li>
                                    </ul>
                                </div>
                            </li>
                            <!-- <li>
                                <div class="dropdown transparent-bg">
                                    <button class="btn dropdown-toggle citybox" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span class="textval">Mumbai</span>
                                        <span class="fa fa-angle-down"></span>
                                    </button>
                                    <ul class="dropdown-menu cityvalue" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">Delhi</a></li>
                                        <li><a href="#">Bangalore</a></li>
                                        <li><a href="#">Kolkata</a></li>
                                        <li><a href="#">Hyderabad</a></li>
                                        <li><a href="#">Pune</a></li>
                                    </ul>
                                </div>
                            </li> -->
                            <li>
                                <div class="dropdown transparent-bg">
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Login
                                        <span class="fa fa-angle-down"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">Admin </a></li>
                                        <li><a href="#">Dealer</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <p class="toll-free">Toll Free Number 880005287929</p>
                </div>
                <div class="main-menu clearfix">
                    <ul class="clearfix">
                        <li><a href="#" class="dropdown-toggle" type="button" id="mainmenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Products & Services</a>
                            <div class="dropdown-menu main-dropdown" aria-labelledby="mainmenu1">
                                <div class="dorp-dwon-stop">
                                    <div class="row flex">
                                        <div class="col-md-4 menu-left-box">
                                            <h2 class="menu-trgr"><a href="#">15 HP</a> <span class="fa fa-angle-down"></span></h2>
                                            <div class="tog_cont menutabsbox">
                                                <ul>
                                                    <li class="active"><a href="#menutabs-1">735 fe</a></li>
                                                    <li><a href="#menutabs-2">735 xm</a></li>
                                                    <li><a href="#menutabs-3">735 fe</a></li>
                                                    <li><a href="#menutabs-4">735 xt</a></li>
                                                </ul>
                                            </div>
                                            <h2 class="menu-trgr"><a href="#">30 - 40 HP</a> <span class="fa fa-angle-down"></span></h2>
                                            <div class="tog_cont">
                                                <ul>
                                                    <li><a href="#">735 fe</a></li>
                                                    <li><a href="#">735 xm</a></li>
                                                    <li><a href="#">735 fe</a></li>
                                                    <li><a href="#">735 xt</a></li>
                                                </ul>
                                            </div>
                                            <h2 class="menu-trgr"><a href="#">40 - 50 HP</a> <span class="fa fa-angle-down"></span></h2>
                                            <div class="tog_cont">
                                                <ul>
                                                    <li><a href="#">735 fe</a></li>
                                                    <li><a href="#">735 xm</a></li>
                                                    <li><a href="#">735 fe</a></li>
                                                    <li><a href="#">735 xt</a></li>
                                                </ul>
                                            </div>
                                            <h2 class="menu-trgr"><a href="#">50 - 60 HP</a> <span class="fa fa-angle-down"></span></h2>
                                            <div class="tog_cont">
                                                <ul>
                                                    <li><a href="#">735 fe</a></li>
                                                    <li><a href="#">735 xm</a></li>
                                                    <li><a href="#">735 fe</a></li>
                                                    <li><a href="#">735 xt</a></li>
                                                </ul>
                                            </div>
                                            <h2 class="menu-trgr"><a href="#">finance</a></h2>
                                            <div class="tog_cont"></div>
                                            <h2 class="menu-trgr"><a href="#">Service Policy</a></h2>
                                            <div class="tog_cont"></div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="tab_container">
                                                <div id="menutabs-1" class="tab_content_box">
                                                    <div class="menu-info">
                                                        <div class="row">
                                                            <div class="col-md-8 col-md-push-2">
                                                                <figure><img src="images/tractor-1.png" alt="" class="img-responsive"></figure>
                                                            </div>
                                                        </div>
                                                        <div class="row menu-product-info">
                                                            <div class="col-md-4 col-sm-4">
                                                                <h5>Key Feature</h5>
                                                                <p>Horsepower : 25 HP</p>
                                                                <p>Engine : 1824 CC</p>
                                                                <p>Brakes : Dry Disk brake</p>
                                                                <p>PTO HP : 22.5 HP</p>
                                                            </div>
                                                            <div class="col-md-8 col-sm-8 MT5">
                                                                <p><a href="#" class="btn btn-default green MR20">Get the Quote</a> <a href="#" class="btn btn-default outerline">View Product</a></p>
                                                                <p>We understand finding the right fit for your need is very Important.</p>
                                                                <div class="row MT15">
                                                                    <div class="col-md-6"><a href="#" class="icons-link"><i class="icon-get-a-call-back"></i><span>GET A CALL BACK</span></a></div>
                                                                    <div class="col-md-6"><a href="#" class="icons-link"><i class="icon-book-a-drive"></i><span>BOOK A TEST DRIVE</span></a></div>
                                                                </div>
                                                                <div class="row MT15">
                                                                    <div class="col-md-6"><a href="#" class="icons-link"><i><img src="images/svg/Nevigation.svg" width="20"></i><span>FIND A DEALER</span></a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="menutabs-2" class="tab_content_box">
                                                    <div class="menu-info">
                                                        <div class="row">
                                                            <div class="col-md-8 col-md-push-2">
                                                                <figure><img src="images/product-tractor-1.png" alt="" class="img-responsive"></figure>
                                                            </div>
                                                        </div>
                                                        <div class="row menu-product-info">
                                                            <div class="col-md-4">
                                                                <h5>Key Feature</h5>
                                                                <p>Horsepower : 25 HP</p>
                                                                <p>Engine : 1824 CC</p>
                                                                <p>Brakes : Dry Disk brake</p>
                                                                <p>PTO HP : 22.5 HP</p>
                                                            </div>
                                                            <div class="col-md-8 MT5">
                                                                <p><a href="#" class="btn btn-default green MR20">Get the Quote</a> <a href="#" class="btn btn-default green">Get the Quote</a></p>
                                                                <p>We understand finding the right fit for your need is very Important.</p>
                                                                <div class="row MT15">
                                                                    <div class="col-md-6"><a href="#" class="icons-link"><i class="icon-get-a-call-back"></i><span>GET A CALL BACK</span></a></div>
                                                                    <div class="col-md-6"><a href="#" class="icons-link"><i class="icon-book-a-drive"></i><span>BOOK A TEST DRIVE</span></a></div>
                                                                </div>
                                                                <div class="row MT15">
                                                                    <div class="col-md-6"><a href="#" class="icons-link"><i class="icon-get-a-call-back"></i><span>Find a Dealer</span></a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="menutabs-3" class="tab_content_box">
                                                    <div class="menu-info">
                                                        <div class="row">
                                                            <div class="col-md-8 col-md-push-2">
                                                                <figure><img src="images/tractor-1.png" alt="" class="img-responsive"></figure>
                                                            </div>
                                                        </div>
                                                        <div class="row menu-product-info">
                                                            <div class="col-md-4">
                                                                <h5>Key Feature</h5>
                                                                <p>Horsepower : 25 HP</p>
                                                                <p>Engine : 1824 CC</p>
                                                                <p>Brakes : Dry Disk brake</p>
                                                                <p>PTO HP : 22.5 HP</p>
                                                            </div>
                                                            <div class="col-md-8 MT5">
                                                                <p><a href="#" class="btn btn-default green MR20">Get the Quote</a> <a href="#" class="btn btn-default green">Get the Quote</a></p>
                                                                <p>We understand finding the right fit for your need is very Important.</p>
                                                                <div class="row MT15">
                                                                    <div class="col-md-6"><a href="#" class="icons-link"><i class="icon-get-a-call-back"></i><span>GET A CALL BACK</span></a></div>
                                                                    <div class="col-md-6"><a href="#" class="icons-link"><i class="icon-book-a-drive"></i><span>BOOK A TEST DRIVE</span></a></div>
                                                                </div>
                                                                <div class="row MT15">
                                                                    <div class="col-md-6"><a href="#" class="icons-link"><i class="icon-get-a-call-back"></i><span>Find a Dealer</span></a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="menutabs-4" class="tab_content_box">
                                                    <div class="menu-info">
                                                        <div class="row">
                                                            <div class="col-md-8 col-md-push-2">
                                                                <figure><img src="images/tractor-1.png" alt="" class="img-responsive"></figure>
                                                            </div>
                                                        </div>
                                                        <div class="row menu-product-info">
                                                            <div class="col-md-4">
                                                                <h5>Key Feature</h5>
                                                                <p>Horsepower : 25 HP</p>
                                                                <p>Engine : 1824 CC</p>
                                                                <p>Brakes : Dry Disk brake</p>
                                                                <p>PTO HP : 22.5 HP</p>
                                                            </div>
                                                            <div class="col-md-8 MT5">
                                                                <p><a href="#" class="btn btn-default green MR20">Get the Quote</a> <a href="#" class="btn btn-default green">Get the Quote</a></p>
                                                                <p>We understand finding the right fit for your need is very Important.</p>
                                                                <div class="row MT15">
                                                                    <div class="col-md-6"><a href="#" class="icons-link"><i class="icon-get-a-call-back"></i><span>GET A CALL BACK</span></a></div>
                                                                    <div class="col-md-6"><a href="#" class="icons-link"><i class="icon-book-a-drive"></i><span>BOOK A TEST DRIVE</span></a></div>
                                                                </div>
                                                                <div class="row MT15">
                                                                    <div class="col-md-6"><a href="#" class="icons-link"><i class="icon-get-a-call-back"></i><span>Find a Dealer</span></a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="PR"><a href="#" class="dropdown-toggle" type="button" id="mainmenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">About</a>

                            <ul class="dropdown-menu normal" aria-labelledby="mainmenu2">
                                <li><a href="#">Our History</a></li>
                                <li><a href="#">Milestones</a></li>
                                <li><a href="#">Mahindra Group</a></li>
                                <li><a href="#">Feedback</a></li>
                            </ul>
                        </li>

                        <li class="PR"><a href="#" class="dropdown-toggle" type="button" id="mainmenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Media</a>
                            <ul class="dropdown-menu normal" aria-labelledby="mainmenu2">
                                <li><a href="#">TV Ads</a></li>
                                <li><a href="#">Print Ads</a></li>
                                <li><a href="#">News Release</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Career</a></li>
                        <li class="PR"><a href="#" class="dropdown-toggle" type="button" id="mainmenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Contact</a>
                            <ul class="dropdown-menu contect-box" aria-labelledby="mainmenu2">
                                <li><a href="#">Get A Call Back</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Connect</a></li>
                                <li>
                                    <div class="contact-info">
                                        <p class="title">Head Office</p>
                                        <p>Swaraj Division Mahindra & Mahindra Ltd. Phase IV, Industrial Area, S.A.S Nagar (Mohali), Punjab -160055</p>
                                        <p class="MB0">Email : Connect@swaraj.com</p>
                                        <p>Contact : 0091-172-2271620 to 27</p>
                                    </div>
                                </li>
                            </ul>

                        </li>
                        <li><a href="#" class="dropdown-toggle" type="button" id="searchbox" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="icon-search"></span></a>
                            <div class="dropdown-menu main-dropdown" aria-labelledby="searchbox">
                                <div class="dorp-dwon-stop">
                                    <div class="row">
                                        <div class="col-md-10 col-md-push-1">
                                            <div class="search-container">
                                                <div class="search-box clearfix">
                                                    <a href="#" class="search-btn">Search</a>
                                                    <div class="ohidden">
                                                        <input type="text" name="search" class="search-text-box" placeholder="Enter Keyword....">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="popular-search">
                                                <h5>POPULAR</h5>
                                                <ul>
                                                    <li><a href="#">- Swaraj delivers $10 mn profit Q3 - 2018 <i class="fa fa-angle-right"></i></a></li>
                                                    <li><a href="#">- Swaraj announces Dealer awards on 21st March, 2019 <i class="fa fa-angle-right"></i></a></li>
                                                    <li><a href="#">- Employee policy update 2018 <i class="fa fa-angle-right"></i></a></li>
                                                </ul>
                                                <p><a href="#" class="icons-link"><i><img src="images/faq.png" alt=""></i> <span>FAQ’S</span></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 visible-xs">
                <div class="mobile-nav">
                    <ul>
                        <li><a href="javascript:;" class="search-mob"><span class="icon-search"></span></a></li>
                        <li>
                            <a href="javascript:;" class="menu-mob"><img src="images/menu-icn.png" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="search-popup">
    <div class="PA20 clearfix">
        <a href="javascript:;" class="close-mob"><img src="images/close.png" alt=""></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <div class="search-container">
                    <div class="search-box clearfix">
                        <a href="#" class="search-btn">Search</a>
                        <div class="ohidden">
                            <input type="text" name="search" class="search-text-box" placeholder="Enter Keyword....">
                        </div>
                    </div>
                </div>
                <div class="popular-search">
                    <h5>POPULAR</h5>
                    <ul>
                        <li><a href="#">- Swaraj delivers $10 mn profit Q3 - 2018 <i class="fa fa-angle-right"></i></a></li>
                        <li><a href="#">- Swaraj announces Dealer awards on 21st March, 2019 <i class="fa fa-angle-right"></i></a></li>
                        <li><a href="#">- Employee policy update 2018 <i class="fa fa-angle-right"></i></a></li>
                    </ul>
                    <p><a href="#" class="icons-link"><i><img src="images/faq.png" alt=""></i> <span>FAQ’S</span></a></p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="menu-popup">
    <div class="container">
        <div class="row">

            <div class="col-xs-10">
                <div class="mobLang">
                    <!-- <span class="g-logoLang"><img src="images/g-logo.png" alt=""></span>
                    <div id="google_translate_elementMobile"></div> -->

                    <div class="dropdown transparent-bg v2">
                        <button class="btn dropdown-toggle" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <span class="lng">Select Language</span>
                          <span class="fa fa-angle-down"></span>
                      </button>
                        <ul class="dropdown-menu langSlt" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Marathi</a></li>
                            <li><a href="#">hindi</a></li>
                            <li><a href="#">Punjabi</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xs-2">
                <a href="javascript:;" class="close-mob"><img src="images/close.png" alt=""></a>
            </div>
        </div>
    </div>


    <div class="menu-mob-box">
        <h5 class="mob-trgr"><a href="#">Products & Services</a></h5>
        <div class="mob-cont">
            <ul>
                <li>
                    <h6 class="mob-trin"><a href="#menutabs-1">15 HP</a></h6>
                    <div class="mob-coin">
                        <ul>
                            <li><a href="#">735 fe</a></li>
                            <li><a href="#menutabs-2">735 xm</a></li>
                            <li><a href="#menutabs-3">735 fe</a></li>
                            <li><a href="#menutabs-4">735 xt</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <h6 class="mob-trin"><a href="#menutabs-1">20-30 HP</a></h6>
                    <div class="mob-coin">
                        <ul>
                            <li><a href="#">735 fe</a></li>
                            <li><a href="#menutabs-2">735 xm</a></li>
                            <li><a href="#menutabs-3">735 fe</a></li>
                            <li><a href="#menutabs-4">735 xt</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <h6 class="mob-trin"><a href="#menutabs-1">30-40 HP</a></h6>
                    <div class="mob-coin">
                        <ul>
                            <li><a href="#">735 fe</a></li>
                            <li><a href="#menutabs-2">735 xm</a></li>
                            <li><a href="#menutabs-3">735 fe</a></li>
                            <li><a href="#menutabs-4">735 xt</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <h6 class="mob-trin"><a href="#menutabs-1">40-50 HP</a></h6>
                    <div class="mob-coin">
                        <ul>
                            <li><a href="#">735 fe</a></li>
                            <li><a href="#menutabs-2">735 xm</a></li>
                            <li><a href="#menutabs-3">735 fe</a></li>
                            <li><a href="#menutabs-4">735 xt</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <h6 class="mob-trin"><a href="#menutabs-1">50-60 HP</a></h6>
                    <div class="mob-coin">
                        <ul>
                            <li><a href="#">735 fe</a></li>
                            <li><a href="#menutabs-2">735 xm</a></li>
                            <li><a href="#menutabs-3">735 fe</a></li>
                            <li><a href="#menutabs-4">735 xt</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <h5 class="mob-trgr"><a href="#">Finance</a></h5>
        <div class="mob-cont">
            <ul>
                <li>
                    <h6 class="mob-trin"><a href="#menutabs-1">15 HP</a></h6>
                    <div class="mob-coin">
                        <ul>
                            <li><a href="#">735 fe</a></li>
                            <li><a href="#menutabs-2">735 xm</a></li>
                            <li><a href="#menutabs-3">735 fe</a></li>
                            <li><a href="#menutabs-4">735 xt</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <h6 class="mob-trin"><a href="#menutabs-1">20-30 HP</a></h6>
                    <div class="mob-coin">
                        <ul>
                            <li><a href="#">735 fe</a></li>
                            <li><a href="#menutabs-2">735 xm</a></li>
                            <li><a href="#menutabs-3">735 fe</a></li>
                            <li><a href="#menutabs-4">735 xt</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#menutabs-3">30-40 hp</a></li>
                <li><a href="#menutabs-4">40-50 hp</a></li>
                <li><a href="#menutabs-4">50-60 hp</a></li>
            </ul>
        </div>
        <h5 class="mob-trgr"><a href="#">Service policy</a></h5>
        <div class="mob-cont">
            <ul>
                <li>
                    <h6 class="mob-trin"><a href="#menutabs-1">15 HP</a></h6>
                    <div class="mob-coin">
                        <ul>
                            <li><a href="#">735 fe</a></li>
                            <li><a href="#menutabs-2">735 xm</a></li>
                            <li><a href="#menutabs-3">735 fe</a></li>
                            <li><a href="#menutabs-4">735 xt</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <h6 class="mob-trin"><a href="#menutabs-1">20-30 HP</a></h6>
                    <div class="mob-coin">
                        <ul>
                            <li><a href="#">735 fe</a></li>
                            <li><a href="#menutabs-2">735 xm</a></li>
                            <li><a href="#menutabs-3">735 fe</a></li>
                            <li><a href="#menutabs-4">735 xt</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#menutabs-3">30-40 hp</a></li>
                <li><a href="#menutabs-4">40-50 hp</a></li>
                <li><a href="#menutabs-4">50-60 hp</a></li>
            </ul>
        </div>
        <h5><a href="#">about</a></h5>

        <h5 class="mob-trgr"><a href="#">media</a></h5>
        <div class="mob-cont">
            <ul>
                <li>
                    <h6 class="mob-trin"><a href="#menutabs-1">15 HP</a></h6>
                    <div class="mob-coin">
                        <ul>
                            <li><a href="#">735 fe</a></li>
                            <li><a href="#menutabs-2">735 xm</a></li>
                            <li><a href="#menutabs-3">735 fe</a></li>
                            <li><a href="#menutabs-4">735 xt</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <h6 class="mob-trin"><a href="#menutabs-1">20-30 HP</a></h6>
                    <div class="mob-coin">
                        <ul>
                            <li><a href="#">735 fe</a></li>
                            <li><a href="#menutabs-2">735 xm</a></li>
                            <li><a href="#menutabs-3">735 fe</a></li>
                            <li><a href="#menutabs-4">735 xt</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#menutabs-3">30-40 hp</a></li>
                <li><a href="#menutabs-4">40-50 hp</a></li>
                <li><a href="#menutabs-4">50-60 hp</a></li>
            </ul>
        </div>
        <h5 class="no-arow"><a href="#">career</a></h5>

        <h5 class="mob-trgr"><a href="#">login</a></h5>
        <div class="mob-cont">
            <ul>
                <li>
                    <h6 class="mob-trin"><a href="#menutabs-1">15 HP</a></h6>
                    <div class="mob-coin">
                        <ul>
                            <li><a href="#">735 fe</a></li>
                            <li><a href="#menutabs-2">735 xm</a></li>
                            <li><a href="#menutabs-3">735 fe</a></li>
                            <li><a href="#menutabs-4">735 xt</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <h6 class="mob-trin"><a href="#menutabs-1">20-30 HP</a></h6>
                    <div class="mob-coin">
                        <ul>
                            <li><a href="#">735 fe</a></li>
                            <li><a href="#menutabs-2">735 xm</a></li>
                            <li><a href="#menutabs-3">735 fe</a></li>
                            <li><a href="#menutabs-4">735 xt</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#menutabs-3">30-40 hp</a></li>
                <li><a href="#menutabs-4">40-50 hp</a></li>
                <li><a href="#menutabs-4">50-60 hp</a></li>
            </ul>
        </div>
        <h5 class="mob-trgr"><a href="#">location</a></h5>
        <div class="mob-cont">
            <ul>
                <li>
                    <h6 class="mob-trin"><a href="#menutabs-1">15 HP</a></h6>
                    <div class="mob-coin">
                        <ul>
                            <li><a href="#">735 fe</a></li>
                            <li><a href="#menutabs-2">735 xm</a></li>
                            <li><a href="#menutabs-3">735 fe</a></li>
                            <li><a href="#menutabs-4">735 xt</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <h6 class="mob-trin"><a href="#menutabs-1">20-30 HP</a></h6>
                    <div class="mob-coin">
                        <ul>
                            <li><a href="#">735 fe</a></li>
                            <li><a href="#menutabs-2">735 xm</a></li>
                            <li><a href="#menutabs-3">735 fe</a></li>
                            <li><a href="#menutabs-4">735 xt</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#menutabs-3">30-40 hp</a></li>
                <li><a href="#menutabs-4">40-50 hp</a></li>
                <li><a href="#menutabs-4">50-60 hp</a></li>
            </ul>
        </div>

        <h5 class="mob-trgr"><a href="#">contact</a></h5>
        <div class="mob-cont">
            <ul>
                <li><a href="#">Get A Call Back</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Connect</a></li>
            </ul>
        </div>

        <div class="contact-info">
            <p class="title">Head Office</p>
            <p>Swaraj Division Mahindra &amp; Mahindra Ltd. Phase IV, Industrial Area, S.A.S Nagar (Mohali), Punjab -160055</p>
            <p class="MB0">Email : Connect@swaraj.com</p>
            <p>Contact : 0091-172-2271620 to 27</p>
        </div>

    </div>

</div>


<script type="text/javascript">
    function googleTranslateElementInit() {

        if ($(window).width() <= 767) {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                includedLanguages: 'en,mr,hi,pa',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                autoDisplay: false
            }, 'google_translate_elementMobile');
            //alert('Mobile');
        } else {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                includedLanguages: 'en,mr,hi,pa',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                autoDisplay: false
            }, 'google_translate_element');
            // alert('desktop');
        }


    }
    // function googleTranslateElementInit() {
    // new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,mr,hi,pa'}, 'google_translate_element');
    // }
</script>
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript"></script>
