<div class="container ourpride-title os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
    <div class="row">
        <div class="col-md-12 CTR">
            <h4>Our Pride Our Strength</h4>
            <p>Thriving on your support and love, our Swaraj family is 20+ million and growing..</p>
        </div>
    </div>
</div>
<section class="our-pride">
    <div class="tesimonial-carousel owl-carousel os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
        <div>
            <div class="our-pride-box flex-row">
                <figure><img src="images/250x300.jpg" alt="" class="hidden-xs"> <img src="images/335x150.jpg" alt="" class="visible-xs"></figure>
                <div class="tesimonial-box">
                    <p><img src="images/svg/tesimonial.svg" width="40" alt=""></p>
                    <p>Greateful to swaraj dealer for saving the day by delivering the spare tractor when mine broke in the middle of my harvest.</p>
                    <p class="name-box">Mr. Naveen Singh</p>
                    <p>Phatankot, Punjab</p>
                </div>
            </div>
        </div>
        <div>
            <div class="our-pride-box flex-row">
                <figure><img src="images/250x300.jpg" alt="" class="hidden-xs"> <img src="images/335x150.jpg" alt="" class="visible-xs"></figure>
                <div class="tesimonial-box">
                    <p><img src="images/svg/tesimonial.svg" width="40" alt=""></p>
                    <p>Greateful to swaraj dealer for saving the day by delivering the spare tractor when mine broke in the middle of my harvest.</p>
                    <p class="name-box">Mr. Naveen Singh</p>
                    <p>Phatankot, Punjab</p>
                </div>
            </div>
        </div>
        <div>
            <div class="our-pride-box flex-row">
                <figure><img src="images/250x300.jpg" alt="" class="hidden-xs"> <img src="images/335x150.jpg" alt="" class="visible-xs"></figure>
                <div class="tesimonial-box">
                    <p><img src="images/svg/tesimonial.svg" width="40" alt=""></p>
                    <p>Greateful to swaraj dealer for saving the day by delivering the spare tractor when mine broke in the middle of my harvest.</p>
                    <p class="name-box">Mr. Naveen Singh</p>
                    <p>Phatankot, Punjab</p>
                </div>
            </div>
        </div>
        <div>
            <div class="our-pride-box flex-row">
                <figure><img src="images/250x300.jpg" alt="" class="hidden-xs"> <img src="images/335x150.jpg" alt="" class="visible-xs"></figure>
                <div class="tesimonial-box">
                    <p><img src="images/svg/tesimonial.svg" width="40" alt=""></p>
                    <p>Greateful to swaraj dealer for saving the day by delivering the spare tractor when mine broke in the middle of my harvest.</p>
                    <p class="name-box">Mr. Naveen Singh</p>
                    <p>Phatankot, Punjab</p>
                </div>
            </div>
        </div>
    </div>
    
</section>