<div class="inner-hero">
    <div class="hero-box">
           <div class="container">
               <ul class="breadcrumb">
                   <li><a href="#">Home</a></li>
                   <li><a href="#">Product & services</a></li>
                   <li>Implements</li>
               </ul>
           </div>

            <div class="hero-container">
                <div class="container">
                    <h4>Implements</h4>
                </div>
            </div>
         <div>
           <img class="img-responsive hidden-xs" src="images/inner-hero.jpg" alt="">
           <img class="img-responsive visible-xs" src="images/inner-hero-m.jpg" alt="">
       </div>
    </div>
</div>