<div class="listing-tab-wrapper">
    <section class="listing-tab">
        <div class="container hidden-xs tabs-slider os-animation" data-os-animation="fadeInUp"
            data-os-animation-delay="0s">
            <div class="imp-listing-tabs-carousel owl-carousel">
                <div>
                    <div class="tabsnav active"><a data-toggle="tab" href="#listTabs1">Self Propelled Combined Harvester</a></div>
                </div>
                <div>
                    <div class="tabsnav"><a data-toggle="tab" href="#listTabs2">Basic Implements</a></div>
                </div>
                <div>
                    <div class="tabsnav"><a data-toggle="tab" href="#listTabs3">Special Purpose Implements</a></div>
                </div>
            </div>
        </div>


        <div class="container visible-xs our-product os-animation" data-os-animation="fadeInUp"
            data-os-animation-delay="0s">
            <ul>
                <li class="active">
                    <a data-toggle="tab" href="#listTabs1">Self Propelled Combined Harvester</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#listTabs2">Basic Implements</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#listTabs3">Special Purpose Implements</a>
                </li>
               

            </ul>
        </div>
    </section>
</div>