<section class="article-qt-bx">
    <div class="container">

        <div class="row">
            <div class="col-md-12 MT70">
                <div class="play-icon-cont">
                    <a href="#myModalVideo" data-toggle="modal">
                        <img src="images/play.png">
                    </a>
                    <div class="info">standing by the farmers since 1965</div>
                </div>

                <img class="full-width hidden-xs" src="images/josh-video-img.jpg" alt="">
                <img class="full-width visible-xs" src="images/josh-video-img-m.jpg" alt="">
            </div>

            <div class="col-md-12 MT70">
                

                <img class="full-width hidden-xs" src="images/josh-hindi.jpg" alt="">
                <img class="full-width visible-xs" src="images/josh-hindi-m.jpg" alt="">
            </div>

        </div>

    </div>
</section>