<div class="artile-hero-bx clearfix inner-hero">
      
    <div class="hero-box">
                <!-- <div class="container">
                      <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Media</a></li>
                            <li><a href="#">Article</a></li>
                            <li>Tips and tricks to improve the wheat farming and production</li>
                      </ul>
                </div> -->
                
                <figure>
                      <img src="images/josh-ban.jpg" alt="" class="hidden-xs">
                      <img src="images/josh-ban-m.jpg" alt="" class="visible-xs">
                </figure>
    
                <!-- <div class="hero-container">
                      <div class="container">
                            
                            
                      <div class="row flex-row product-info">
                            <div class="col-md-5 col-sm-6">
                                  <h1>ARTICLE</h1>
                                  <h3>Lorem Ipsum is simply.</h3>
                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                              industry. Lorem Ipsum has been the Lorem Ipsum has been the
                                              industry's standard industry's standard dummy text.</p>
                            
                            </div>
                      </div>
                      </div>
                </div> -->
    
    </div>
    
</div>
<div class="clearfix"></div>
