<div class="listing-tab-wrapper">
    <section class="listing-tab">
        <div class="container hidden-xs tabs-slider os-animation" data-os-animation="fadeInUp"
            data-os-animation-delay="0s">
            <div class="listing-tabs-carousel owl-carousel">
                <div>
                    <div class="tabsnav active"><a data-toggle="tab" href="#listTabs1">new arrivals</a></div>
                </div>
                <div>
                    <div class="tabsnav"><a data-toggle="tab" href="#listTabs2">15 HP</a></div>
                </div>
                <div>
                    <div class="tabsnav"><a data-toggle="tab" href="#listTabs3">20- 30 HP</a></div>
                </div>

                <div>
                    <div class="tabsnav"><a data-toggle="tab" href="#listTabs4">30- 40 HP</a></div>
                </div>

                <div>
                    <div class="tabsnav"><a data-toggle="tab" href="#listTabs5">40- 50 HP</a></div>
                </div>

                <div>
                    <div class="tabsnav"><a data-toggle="tab" href="#listTabs6">50- 60 HP</a></div>
                </div>
                <div>
                    <div class="tabsnav"><a data-toggle="tab" href="#listTabs7">60- 70 HP</a></div>
                </div>
            </div>
        </div>


        <div class="container visible-xs our-product os-animation" data-os-animation="fadeInUp"
            data-os-animation-delay="0s">
            <ul>
                <li class="active">
                    <a data-toggle="tab" href="#listTabs1">new arrivals</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#listTabs2">15 HP</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#listTabs3">20- 30 HP</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#listTabs4">30- 40 HP</a>
                </li>

                <li>
                    <a data-toggle="tab" href="#listTabs5">40- 50 HP</a>
                </li>

                <li>
                    <a data-toggle="tab" href="#listTabs6">50- 60 HP</a>
                </li>

                <li>
                    <a data-toggle="tab" href="#listTabs7">60- 70 HP</a>
                </li>

            </ul>
        </div>
    </section>
</div>