<section class="common-section">
    <div class="container os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
        <div class="row">
            <div class="col-md-12 CTR MTAL">
                <h4>Our Pride Our Strength</h4>
                <p>Our path to success tells the story pf passionate people, consumer centric approach and one strong vision.</p>
            </div>
        </div>
        <div class="milestone">
            <div class="milestone-carousel owl-carousel">
                <div>
                    <div class="milestone-tabs active">
                        <a data-toggle="tab" href="#mileTabs1">2018</a>
                    </div>
                </div>
                <div>
                    <div class="milestone-tabs">
                        <a data-toggle="tab" href="#mileTabs2">2017</a>
                    </div>
                </div>
                <div>
                    <div class="milestone-tabs">
                        <a data-toggle="tab" href="#mileTabs3">2016</a>
                    </div>
                </div>
                <div>
                    <div class="milestone-tabs">
                        <a data-toggle="tab" href="#mileTabs4">2015</a>
                    </div>
                </div>
                <div>
                    <div class="milestone-tabs">
                        <a data-toggle="tab" href="#mileTabs5">2014</a>
                    </div>
                </div>
                <div>
                    <div class="milestone-tabs">
                        <a data-toggle="tab" href="#mileTabs6">2013</a>
                    </div>
                </div>
                <div>
                    <div class="milestone-tabs">
                        <a data-toggle="tab" href="#mileTabs7">2012</a>
                    </div>
                </div>
                <div>
                    <div class="milestone-tabs">
                        <a data-toggle="tab" href="#mileTabs8">2011</a>
                    </div>
                </div>
                <div>
                    <div class="milestone-tabs">
                        <a data-toggle="tab" href="#mileTabs9">2010</a>
                    </div>
                </div>
                <div>
                    <div class="milestone-tabs">
                        <a data-toggle="tab" href="#mileTabs10">2009</a>
                    </div>
                </div>
                <div>
                    <div class="milestone-tabs">
                        <a data-toggle="tab" href="#mileTabs11">2008</a>
                    </div>
                </div>
                <div>
                    <div class="milestone-tabs">
                        <a data-toggle="tab" href="#mileTabs4">2007</a>
                    </div>
                </div>
                <div>
                    <div class="milestone-tabs">
                        <a data-toggle="tab" href="#mileTabs5">2006</a>
                    </div>
                </div>
                <div>
                    <div class="milestone-tabs">
                        <a data-toggle="tab" href="#mileTabs6">2005</a>
                    </div>
                </div>
                <div>
                    <div class="milestone-tabs">
                        <a data-toggle="tab" href="#mileTabs7">2004</a>
                    </div>
                </div>
                <div>
                    <div class="milestone-tabs">
                        <a data-toggle="tab" href="#mileTabs8">2003</a>
                    </div>
                </div>
                <div>
                    <div class="milestone-tabs">
                        <a data-toggle="tab" href="#mileTabs9">2002</a>
                    </div>
                </div>
                <div>
                    <div class="milestone-tabs">
                        <a data-toggle="tab" href="#mileTabs10">2001</a>
                    </div>
                </div>
                <div>
                    <div class="milestone-tabs">
                        <a data-toggle="tab" href="#mileTabs11">2001</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="milestone-info">
        <div class="container">
            <div class="tab-content">
                <div id="mileTabs1" class="tab-pane fade in active">
                    <div class="milestoneBox-carousel owl-carousel green">
                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="milestone-box active">
                                        <h3>PRODUCT</h3>
                                        <p class="designation">CEO SWARAJ</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="milestone-box active">
                                        <h3>PRODUCT</h3>
                                        <p class="designation">CEO SWARAJ</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="milestone-box active">
                                        <h3>PRODUCT</h3>
                                        <p class="designation">CEO SWARAJ</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="mileTabs2" class="tab-pane fade">
                    <div class="milestoneBox-carousel owl-carousel green">
                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="milestone-box active">
                                        <h3>PRODUCT</h3>
                                        <p class="designation">CEO SWARAJ</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="milestone-box active">
                                        <h3>PRODUCT</h3>
                                        <p class="designation">CEO SWARAJ</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="milestone-box active">
                                        <h3>PRODUCT</h3>
                                        <p class="designation">CEO SWARAJ</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="mileTabs3" class="tab-pane fade">
                    <div class="milestoneBox-carousel owl-carousel green">
                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="milestone-box active">
                                        <h3>PRODUCT</h3>
                                        <p class="designation">CEO SWARAJ</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="milestone-box active">
                                        <h3>PRODUCT</h3>
                                        <p class="designation">CEO SWARAJ</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="milestone-box active">
                                        <h3>PRODUCT</h3>
                                        <p class="designation">CEO SWARAJ</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="mileTabs4" class="tab-pane fade">
                    <div class="milestoneBox-carousel owl-carousel green">
                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="milestone-box active">
                                        <h3>PRODUCT</h3>
                                        <p class="designation">CEO SWARAJ</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="milestone-box active">
                                        <h3>PRODUCT</h3>
                                        <p class="designation">CEO SWARAJ</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="milestone-box active">
                                        <h3>PRODUCT</h3>
                                        <p class="designation">CEO SWARAJ</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="mileTabs5" class="tab-pane fade">
                    <div class="milestoneBox-carousel owl-carousel green">
                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="milestone-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="mileTabs6" class="tab-pane fade"></div>
                <div id="mileTabs7" class="tab-pane fade"></div>
                <div id="mileTabs8" class="tab-pane fade"></div>
                <div id="mileTabs9" class="tab-pane fade"></div>
                <div id="mileTabs10" class="tab-pane fade"></div>
                <div id="mileTabs11" class="tab-pane fade"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="TAR MT5">*Data current as of 2019</p>
        <div class="our-journey">
            <div class="row">
                <div class="col-md-6 col-md-push-3 CTR">
                    <h5>Our Journey is nothing without your support and hardwork of each member of our <strong>SWARAJ</strong> Family.</h5>
                </div>
            </div>
        </div>
    </div>
</section>
