<div class="listing-tab-wrapper searchTab">
        <section class="listing-tab">
            <div class="container hidden-xs tabs-slider os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                <div class="row">
                    <div class="col-md-12 flexrow">
                        <div class="tabsnav"><a  href="#">Overview</a></div>
                        <div class="tabsnav"><a href="#">team</a></div>
                        <div class="tabsnav active"><a href="#">milestone</a></div>
                        <div class="tabsnav"><a href="#">csr activities</a></div>
                    </div>
                </div>
            </div>
            <div class="container our-product media-list-link visible-xs tabs-slider os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                    <ul>
                        <li>
                            <a href="#">Overview</a>
                        </li>
                        <li>
                            <a href="#">team</a>
                        </li>
                        <li class="active">
                            <a href="#">milestone</a>
                        </li>
                        <li>
                            <a href="#">csr activities</a>
                        </li>
                            
                    </ul>
            </div>
        </section>
</div>