<section class="map-section near-me-map os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
    <div class="container">
        <!-- <div class="visible-xs visible-sm CTR">
            <h4>Always with you and for you</h4>
            <p>Start your journey with our nearest Dealer as per your current location.</p>
        </div> -->
        <p class="change-location"><a href="#" class="icons-link"><i><img src="images/svg/Nevigation.svg" width="20"></i><span>Change Location</span></a></p>
        <div class="row">

            <div class="col-md-5 map">
                <div id="map">
                </div>
            </div>
           

            <div class="col-md-7 map-info">

                <div class="hidden-xs hidden-sm desc">
                        <h4>Lorem Ipsum is simply dummy</h4>
                        <p>Lorem Ipsum has been the industry's standard</p>
                        <hr>
                        
                </div>
                
                <div class="nearBylist">
                    <div class="near-me green">
                        
                    </div>
                    
                    <!-- <div class="row MB30">
                        <div class="col-md-4 col-sm-4">
                            <a href="#" class="btn green btn-default">GET DIRECTION</a>
                        </div>
                        <div class="col-md-4 col-sm-4 MT5"><a href="#" class="icons-link"><i class="icon-get-a-call-back"></i><span>GET A CALL BACK</span></a></div>
                        <div class="col-md-4 col-sm-4 MT5"><a href="#" class="icons-link"><i class="icon-book-a-drive"></i><span>BOOK A TEST DRIVE</span></a></div>
                    </div> -->
                    
                </div>

                <form id="mapForm"> 
                    <div class="map-form">
                        <div class="row">
                            <div class="col-md-10 MT30">
                                    <select class="state selectpicker" required="" title="Select State*">
                                        <option value="19.601194, 75.552979">Maharashtra</option>
                                        <option value="22.309425, 72.136230">Gujarat</option>
                                        <option value="15.317277, 75.713890">Karnataka</option>
                                        <option value="11.127123, 78.656891">Tamil Nadu</option>
                                    </select>
                            </div>

                            <div class="col-md-10 MT30">
                                    <select class="city selectpicker" required="" title="Select City*" disabled>
                                        <option value="19.0760, 72.8777">Mumbai</option>
                                        <option value="18.5204, 73.8567">Pune</option>
                                    </select>
                            </div>

                            <div class="col-md-10 MT30">
                                <input type="text" name="" required="" class="text-box" placeholder="District*">
                                <!-- <select name="" id="" class="tehsil selectpicker" title="Tehsil">
                                    <option value="">Tehsil 01</option>
                                    <option value="">Tehsil 02</option>
                                </select> -->
                            </div>


                        

                        </div>

                        <div class="row MT30">

                            <div class="col-md-12">
                                <button type="submit" class="btn green no-arrow btn-default update">Update</button>
                                <a href="" class="icons-link ML30 refresh"><i class="fa fa-refresh" aria-hidden="true"></i> <span>Refresh</span></a>
                            </div>

                        </div>

                    
                    </div>
                </form>

                
            </div>
    </div>
</section>