<section class="connect-box near-me-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 CTR">
                <h4>Swaraj Near you, Always</h4>
                <small>Near your location</small>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                    <div class="spec-list-box">

                            <div class="">
                                <ul class="list-inline">
                                    <li class="active"><a href="#Dealer" id="Dealer" data-toggle="tab">Dealer <span class="badge">5</span></a></li><li><a href="#Distributor" id="Distributor" data-toggle="tab">Distributor <span class="badge">5</span></a></li>
                                </ul>
                            </div>
                            
                                                                        
                        </div>
            </div>
        </div>
    </div>
</section>


