<div class="container news-bx">
    <div class="row">
        <div class="col-md-5 col-sm-5">
           
            <div class="search-container">
                <div class="search-box clearfix">
                    <a href="#" class="search-btn">Search</a>
                    <div class="ohidden">
                        <input type="text" name="search" class="search-text-box" placeholder="Enter Keyword....">
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-7 col-sm-7 text-right">
                <div class="group-datePicker">
                    <input type='text' class="form-control" id='datetimepicker1' />
                </div>

                <select class="selectpicker round-inpt" title="EXCELLENCE">
                    <option>EXCELLENCE</option>
                    <option>EXCELLENCE 2</option>
                    <option>EXCELLENCE 3</option>
                </select>
                      
        </div>
        
    </div>
</div>

<div class="container">
    <div class="row MT50">
        <div class="col-md-4 col-sm-6 MT30">
            <div class="home-card">
                <figure><a href="#"><img src="images/343x150.jpg" alt=""></a></figure>
                <div class="card-info-box">
                    <p class="card-tags">Article</p>
                    <hr>
                    <p class="card-date">25th dec, 18</p>
                    <h5 class="card-title"><a href="#">Color domet lipsum is simply
dummy text</a></h5>
                    <p class="card-description">Tips and tricks to improve the wheat farming and production, Lorem Ipsum is simply dummy text of the printing.</p>
                    <p><a href="#" class="btn btn-default green">Read More</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 MT30">
            <div class="home-card">
                <figure><a href="#"><img src="images/343x150.jpg" alt=""></a></figure>
                <div class="card-info-box">
                    <p class="card-tags">Article</p>
                    <hr>
                    <p class="card-date">25th dec, 18</p>
                    <h5 class="card-title"><a href="#">Color domet lipsum is simply
dummy text</a></h5>
                    <p class="card-description">Tips and tricks to improve the wheat farming and production, Lorem Ipsum is simply dummy text of the printing.</p>
                    <p><a href="#" class="btn btn-default green">Read More</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 MT30">
            <div class="home-card">
                <figure><a href="#"><img src="images/343x150.jpg" alt=""></a></figure>
                <div class="card-info-box">
                    <p class="card-tags">Article</p>
                    <hr>
                    <p class="card-date">25th dec, 18</p>
                    <h5 class="card-title"><a href="#">Color domet lipsum is simply
dummy text</a></h5>
                    <p class="card-description">Tips and tricks to improve the wheat farming and production, Lorem Ipsum is simply dummy text of the printing.</p>
                    <p><a href="#" class="btn btn-default green">Read More</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 MT30">
            <div class="home-card">
                <figure><a href="#"><img src="images/343x150.jpg" alt=""></a></figure>
                <div class="card-info-box">
                    <p class="card-tags">Article</p>
                    <hr>
                    <p class="card-date">25th dec, 18</p>
                    <h5 class="card-title"><a href="#">Color domet lipsum is simply
dummy text</a></h5>
                    <p class="card-description">Tips and tricks to improve the wheat farming and production, Lorem Ipsum is simply dummy text of the printing.</p>
                    <p><a href="#" class="btn btn-default green">Read More</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 MT30">
            <div class="home-card">
                <figure><a href="#"><img src="images/343x150.jpg" alt=""></a></figure>
                <div class="card-info-box">
                    <p class="card-tags">Article</p>
                    <hr>
                    <p class="card-date">25th dec, 18</p>
                    <h5 class="card-title"><a href="#">Color domet lipsum is simply
dummy text</a></h5>
                    <p class="card-description">Tips and tricks to improve the wheat farming and production, Lorem Ipsum is simply dummy text of the printing.</p>
                    <p><a href="#" class="btn btn-default green">Read More</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 MT30">
            <div class="home-card">
                <figure><a href="#"><img src="images/343x150.jpg" alt=""></a></figure>
                <div class="card-info-box">
                    <p class="card-tags">Article</p>
                    <hr>
                    <p class="card-date">25th dec, 18</p>
                    <h5 class="card-title"><a href="#">Color domet lipsum is simply
dummy text</a></h5>
                    <p class="card-description">Tips and tricks to improve the wheat farming and production, Lorem Ipsum is simply dummy text of the printing.</p>
                    <p><a href="#" class="btn btn-default green">Read More</a></p>
                </div>
            </div>
        </div>

        
    </div>

    <div class="row MT40">
        <p class="view-all">
            <a href="#" class="btn btn-default green">Show more</a>
        </p>
    </div>
</div>