<div class="listing-tab-wrapper searchTab scrollTopBand">
    <section class="listing-tab">
        <div class="container hidden-xs tabs-slider os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
            <div class="row">
                <div class="col-md-12 flexrow">
                        <div class="tabsnav"><a href="#">ABOUT US</a></div>
                        <div class="tabsnav"><a href="news.html">TEAM</a></div>
                        <div class="tabsnav"><a href="#">MILESTONES</a></div>
                        <div class="tabsnav"><a href="#">CSR</a></div>
                        <div class="tabsnav active"><a href="#">POLICY</a></div>
                </div>
                
            </div>
        </div>

        <div class="container our-product media-list-link visible-xs tabs-slider os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                <ul>
                    <li>
                        <a href="#">ABOUT US</a>
                    </li>
                    <li>
                        <a href="news.html">TEAM</a>
                    </li>
                    <li>
                        <a href="#">MILESTONES</a>
                    </li>
                    <li>
                        <a href="#">CSR</a>
                    </li>
                    <li class="active">
                        <a href="#">POLICY</a>
                    </li>
                </ul>
        </div>
      
    </section>
</div>