<div class="inner-hero">
    <div class="hero-box">
           <div class="container">
               <ul class="breadcrumb">
                   <li><a href="#">Home</a></li>
                   <li><a href="#">Search</a></li>
                   <li>Result</li>
               </ul>
           </div>

            <div class="hero-container">
                <div class="container">
                    <h5 class="TAR">Environmental<span>Clearance</span></h5>
                </div>
            </div>
         <div>
           <img class="img-responsive hidden-xs" src="images/policy-banner.jpg" alt="">
           <img class="img-responsive visible-xs" src="images/search-ban-m.jpg" alt="">
       </div>
    </div>
</div>