<section class="map-section proDtailMap os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
        <div class="container">
            <div class="visible-xs visible-sm CTR">
                <h4>Always with you and for you</h4>
                <p>Start your journey with our nearest Dealer as per your current location.</p>
            </div>
            <p class="change-location"><a href="#" class="icons-link"><i><img src="images/svg/Nevigation.svg" width="20"></i><span>Change Location</span></a></p>
            <div class="row">
                <div class="col-md-5  map">
                    <div id="map">
                    </div>
                </div>
               
    
               
                <div class="col-md-7  map-info">
                    <div class="hidden-xs hidden-sm">
                        <h4>Always with you and for you</h4>
                        <p>Start your journey with our nearest Dealer as per your current location.</p>
                        <hr>
                        
                    </div>
                    <div class="nearBylist">
                        <div class="map-carousel owl-carousel green">
                            <!-- <div>
                            <h3>Radhe Tractors <span>( 2 km from your location )</span></h3>
                            <ul class="map-list">
                                <li>
                                    <p><span>Address: </span> Dalhousie Road, Mamoon, Pathankot
                                        <br> Pathankot - 145 001</p>
                                </li>
                                <li>
                                    <p><span>Contact : </span> 9914145859,0186 2347330</p>
                                    <p><span>Sales Head :</span> 9914388859</p>
                                </li>
                                <li>
                                    <p><span>Email :</span> info@vw-swaraj.co.in</p>
                                    <p><span>crmEmail :</span> crm@vw-cswaraj.co.in</p>
                                </li>
                            </ul>
                        </div> -->
                        </div>
                        
                        <div class="row MT10">
                            <div class="col-md-4 col-sm-4">
                                <a href="#" class="btn green btn-default">GET DIRECTION</a>
                            </div>
                            <div class="col-md-4 col-sm-4 MT5"><a href="#" class="icons-link"><i class="icon-get-a-call-back"></i><span>GET A CALL BACK</span></a></div>
                            <div class="col-md-4 col-sm-4 MT5"><a href="#" class="icons-link"><i class="icon-book-a-drive"></i><span>BOOK A TEST DRIVE</span></a></div>
                        </div>
                        <hr class="">
                        <p class="link2"><a href="#">View All</a></p>
                    </div>
    
    
                    <div class="map-form MT20">
                        <div class="row MT10">
                            <div class="col-md-10 MT30">
                                    <select class="state selectpicker" title="Select State">
                                        <option value="19.601194, 75.552979">Maharashtra</option>
                                        <option value="22.309425, 72.136230">Gujarat</option>
                                        <option value="15.317277, 75.713890">Karnataka</option>
                                        <option value="11.127123, 78.656891">Tamil Nadu</option>
                                    </select>
                            </div>
    
                            <div class="col-md-10 MT30">
                                    <select class="city selectpicker" title="Select City" disabled>
                                        <option value="19.0760, 72.8777">Mumbai</option>
                                        <option value="18.5204, 73.8567">Pune</option>
                                    </select>
                            </div>
    
                            <div class="col-md-10 MT30">
                                <input type="text" name="" class="text-box" placeholder="Tehsil">
                                <!-- <select name="" id="" class="tehsil selectpicker" title="Tehsil">
                                    <option value="">Tehsil 01</option>
                                    <option value="">Tehsil 02</option>
                                </select> -->
                            </div>
    
    
                          
    
                        </div>
    
                        <div class="row MT30">
    
                            <div class="col-md-12">
                                <a href="javascript:;" class="btn green no-arrow btn-default update">Update</a>
                                <a href="javascript:;" class="icons-link ML30 refresh"><i class="fa fa-refresh" aria-hidden="true"></i> <span>Refresh</span></a>
                            </div>
    
                        </div>
    
                       
                    </div>
    
                    
                </div>
        </div>
    </section>