<section class="features-box similarPro">
        <div class="container">
            <div class="row">
                    <div class="col-md-12">
                        <h4>Similar Products</h4>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                        <div class="similarPro-carousel owl-carousel green">
                            
                            <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".5s">
                                <div class="home-card">
                                    <figure><a href="#"><img src="images/tractor-1.png" alt=""></a></figure>
                                    <h5 class="card-title">
                                        <a href="#">724 XM</a>
                                    </h5>
                                </div>

                                <p class="btn-box">
                                    <a href="#" class="btn btn-default green">View Details</a>
                                </p>
                                
                            </div>

                            <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".5s">
                                <div class="home-card">
                                    <figure><a href="#"><img src="images/tractor-1.png" alt=""></a></figure>
                                    <h5 class="card-title">
                                        <a href="#">724 XM</a>
                                    </h5>
                                </div>

                                <p class="btn-box">
                                    <a href="#" class="btn btn-default green">View Details</a>
                                </p>
                                
                            </div>

                            <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".5s">
                                <div class="home-card">
                                    <figure><a href="#"><img src="images/tractor-1.png" alt=""></a></figure>
                                    <h5 class="card-title">
                                        <a href="#">724 XM</a>
                                    </h5>
                                </div>

                                <p class="btn-box">
                                    <a href="#" class="btn btn-default green">View Details</a>
                                </p>
                                
                            </div>

                            <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".5s">
                                <div class="home-card">
                                    <figure><a href="#"><img src="images/tractor-1.png" alt=""></a></figure>
                                    <h5 class="card-title">
                                        <a href="#">724 XM</a>
                                    </h5>
                                </div>

                                <p class="btn-box">
                                    <a href="#" class="btn btn-default green">View Details</a>
                                </p>
                                
                            </div>
    
                            
                        </div>
                </div>
            </div>
    
        </div>
    </section>