<div class="clearfix"></div>
<section class="swaraj-home product-quick">
    <div class="quick-tools">
        <ul>
            <li>
                <a href=""><img src="images/svg/Call.svg" alt=""><span>Get a Call Back</span></a>
            </li>

            <li>
                <a href=""><img src="images/svg/Tractor.svg" alt=""><span>Test Drive</span></a>
            </li>

            <li>
                <a href=""><img src="images/svg/Nevigation.svg" alt=""><span>Dealer Locator </span></a>
            </li>

            <li>
                <a href=""><img src="images/svg/Repair.svg" alt=""><span>Service Request</span></a>
            </li>

            <li class="show-mobTab">
                <a href=""><img src="images/svg/dwnload-brochure-colored.svg" alt=""><span>Download Brochure</span></a>
            </li>

            <li class="green hide-mobTab">
                <a href=""><img src="images/svg/download-icon-w.svg" alt=""><span>Download Brochure</span></a>
            </li>

            <li class="green hide-mobTab">
                <a href=""><img src="images/svg/dowload-doc-icon-w.svg" alt=""><span>Get a Quote</span></a>
            </li>
        </ul>
        <div class="visible-xs visible-sm">
            <div class="all-products-quicklink">
                <a href="javascript:void(0)" class="">Get a Quote</a>
                <!-- <a href="javascript:void(0)" class="">All Products</a> -->
                <a href="javascript:void(0)" class="quickLink">Quick Links</a>
            </div>
        </div>
    </div>
</section>
