<div id="yourself" class="container">
        <div class="row">
            <div class="col-md-12 CTR os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                <h4>Do it Yourself</h4>
            </div>
        </div>
        <div class="product we-do-thing">
            <div class="card-carousel owl-carousel green">
                <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".5s">
                    <div class="home-card">
                        <figure><a href="#"><img src="images/343x150.jpg" alt=""></a></figure>
                        <div class="card-info-box">
                            <p class="card-tags">Article</p>
                            <hr>
                            <p class="card-date">25th dec, 18</p>
                            <h5 class="card-title"><a href="#">Color domet lipsum is simply
        dummy text</a></h5>
                            <p class="card-description">Tips and tricks to improve the wheat farming and production, Lorem Ipsum is simply dummy text of the printing.</p>
                            <p><a href="#" class="btn btn-default green">Read More</a></p>
                        </div>
                    </div>
                </div>
                <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="1s">
                    <div class="home-card">
                        <figure>
                            <a class="play-icon" href="#myModalVideo" data-toggle="modal"><img src="images/play.png"></a><a href="#myModalVideo" data-toggle="modal"><img src="images/diy.jpg" alt=""></a></figure>
                        <div class="card-info-box">
                            <p class="card-tags">DIY</p>
                            <hr>
                            <p class="card-date">25th dec, 18</p>
                            <h5 class="card-title"><a href="#myModalVideo" data-toggle="modal">Color domet lipsum is simply
        dummy text</a></h5>
                            <p class="card-description">Tips and tricks to improve the wheat farming and production, Lorem Ipsum is simply dummy text of the printing.</p>
                            <p><a href="#myModalVideo" data-toggle="modal" class="btn btn-default green">Watch Video</a></p> 
                        </div>
                    </div>
                </div>
               <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".5s">
                    <div class="home-card">
                        <figure><a href="#"><img src="images/343x150.jpg" alt=""></a></figure>
                        <div class="card-info-box">
                            <p class="card-tags">CSR Activities</p>
                            <hr>
                            <p class="card-date">25th dec, 18</p>
                            <h5 class="card-title"><a href="#">Color domet lipsum is simply
        dummy text</a></h5>
                            <p class="card-description">Skill development in 200 Villages helping over 12,00,000 people through India, Lorem Ipsum is simply dummy text.</p>
                            <p><a href="#" class="btn btn-default green">Read More</a></p>
                        </div>
                    </div>
                </div>
                <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".5s">
                    <div class="home-card">
                        <figure><a href="#"><img src="images/343x150.jpg" alt=""></a></figure>
                        <div class="card-info-box">
                            <p class="card-tags">Article4</p>
                            <hr>
                            <p class="card-date">25th dec, 18</p>
                            <h5 class="card-title"><a href="#">Color domet lipsum is simply
        dummy text</a></h5>
                            <p class="card-description">Tips and tricks to improve the wheat farming and production, Lorem Ipsum is simply dummy text of the printing.</p>
                            <p><a href="#" class="btn btn-default green">Read More</a></p>
                        </div>
                    </div>
                </div>
                <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".5s">
                    <div class="home-card">
                        <figure><a href="#"><img src="images/343x150.jpg" alt=""></a></figure>
                        <div class="card-info-box">
                            <p class="card-tags">Article5</p>
                            <hr>
                            <p class="card-date">25th dec, 18</p>
                            <h5 class="card-title"><a href="#">Color domet lipsum is simply
        dummy text</a></h5>
                            <p class="card-description">Tips and tricks to improve the wheat farming and production, Lorem Ipsum is simply dummy text of the printing.</p>
                            <p><a href="#" class="btn btn-default green">Read More</a></p>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    
    <div id="myModalVideo" class="modal fade youtube-video-box">
        <div class="container">
            <div class="close-video">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div>
                <iframe id="SwarajVideo" width="100%" height="600" src="//www.youtube.com/embed/YE7VzlLtp-4" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    