<section id="spec" class="specification-box">
    <div class="container">
        <div class="row">
                <div class="col-md-12">
                    <h4>specification</h4>
                </div>
        </div>
        <div class="row hidden-sm hidden-xs">
            <div class="col-md-12 speci-tabs">
                <div class="speci-carousel owl-carousel">
                    <div><div class="sp-tabs active"><a href="#engine" data-toggle="tab">Engine</a></div></div>
                    <div><div class="sp-tabs"><a href="#trans" data-toggle="tab">Transmission</a></div></div>
                    <div><div class="sp-tabs"><a href="#dime" data-toggle="tab">Dimention</a></div></div>
                    <div><div class="sp-tabs"><a href="#sns" data-toggle="tab">Steering & suspention</a></div></div>
                    <div><div class="sp-tabs"><a href="#ene" data-toggle="tab">Electricals & Electronics</a></div></div>
                    <div><div class="sp-tabs"><a href="#engine" data-toggle="tab">Gear Speeds</a></div></div>
                    <div><div class="sp-tabs"><a href="#engine" data-toggle="tab">Weights & Dimensions</a></div></div>
                    <div><div class="sp-tabs"><a href="#engine" data-toggle="tab">Brakes</a></div></div>
                    <div><div class="sp-tabs"><a href="#engine" data-toggle="tab">Hydraulics</a></div></div>
                    <div><div class="sp-tabs"><a href="#engine" data-toggle="tab">PTO</a></div></div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="spec-list-box">
                    <div class="wrapper-spec-list visible-xs visible-sm">
                        <ul class="list-inline">
                            <li class="active"><a href="#engine" data-toggle="tab">Engine</a></li>
                            <li><a href="#trans" data-toggle="tab">Transmission</a></li>
                            <li><a href="#dime" data-toggle="tab">Dimention</a></li>
                            <li><a href="#sns" data-toggle="tab">Steering & suspention</a></li>
                            <li><a href="#ene" data-toggle="tab">Electricals & Electronics</a></li>
                            <li><a href="#engine" data-toggle="tab">Gear Speeds</a></li>
                            <li><a href="#trans" data-toggle="tab">Weights & Dimensions</a></li>
                            <li><a href="#dime" data-toggle="tab">Brakes</a></li>
                            <li><a href="#sns" data-toggle="tab">Hydraulics</a></li>
                            <li><a href="#ene" data-toggle="tab">PTO</a></li>
                        </ul>
                    </div>

                    <div class="tab-content">

                            <div class="tab-pane fade in active" id="engine">
                                <h3>Engine</h3>
                                <ul class="circle-list">
                                    <li>Model RB-30 TR</li>
                                    <li>HP 45-50 hp</li>
                                    <li>Type 4 - Stroke, Direct Injection, Diesel Engine</li>
                                    <li>No. of Cylinders 3</li>
                                    <li>Bore and Stroke 110 X 110 mm</li>
                                    <li>Displacement 3136 cc</li>
                                    <li>Rated Engine Speed 2000 rev/min</li>
                                    <li>Air Cleaner 3- Stage Oil Bath Type</li>
                                    <li>Cooling System Water Cooled with No loss tank. Oil Cooler for engine oil</li>
                                </ul>

                              

                                <hr>
                                <h3>PTO</h3>
                                <div class="pto-box">
                                    <p>
                                        <strong>PTO Speed: </strong> <span>Standard 1000 rpm</span>
                                    </p>
                                    <p>
                                        <strong>PTO Speed: </strong> <span>Optional 540 rpm , CR- PTO with Multi speeds</span>
                                    </p>
                                </div>
                                
                            </div>

                            <div class="tab-pane fade" id="trans">
                                <h3>Transmission</h3>
                                <p>
                                    testing...
                                </p>
                            </div>

                            <div class="tab-pane fade" id="dime">
                                <h3>Dimention</h3>
                                <p>
                                    testing...
                                </p>
                            </div>

                            <div class="tab-pane fade" id="sns">
                                <h3>Steering & suspention</h3>
                                <p>
                                    testing...
                                </p>
                            </div>

                            <div class="tab-pane fade" id="ene">
                                <h3>Electricals & Electronics</h3>
                                <p>
                                    testing...
                                </p>
                            </div>

                    </div>
                                                                
                </div>
            </div>
        </div>


        
    </div>
</section>