<section id="features" class="features-box">
    <div class="container">
        <div class="row">
                <div class="col-md-12">
                    <h4>features</h4>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                    <div class="card-carousel owl-carousel green">
                        
                        <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".5s">
                            <div class="home-card">
                                <figure><a href="#"><img src="images/power-st.jpg" alt=""></a></figure>
                            </div>
                            <div class="info">
                                    <h5 class="card-title">
                                        <a href="#">Power Steering</a>
                                    </h5>

                                    <p>
                                            More stability on haulage –
                                            Comfortable driving
                                    </p>
                            </div>
                        </div>

                        <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".5s">
                            <div class="home-card">
                                <figure><a href="#"><img src="images/rear-tyr.jpg" alt=""></a></figure>
                            </div>

                            <div class="info">
                                    <h5 class="card-title">
                                        <a href="#">Bigger 13.6*28 Rear Tyre</a>
                                    </h5>

                                    <p>
                                            Better gripping - Less slippage during
                                            field operation
                                    </p>
                            </div>
                        </div>

                        <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".5s">
                            <div class="home-card">
                                <figure><a href="#"><img src="images/single-clutch.jpg" alt=""></a></figure>
                            </div>

                            <div class="info">
                                    <h5 class="card-title">
                                        <a href="#">Diaphragm Type Single Clutch</a>
                                    </h5>

                                    <p>
                                            More contact area- better life, hence
                                            less maintenance
                                    </p>
                            </div>
                        </div>

                        <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".5s">
                                <div class="home-card">
                                    <figure><a href="#"><img src="images/power-st.jpg" alt=""></a></figure>
                                </div>
                                <div class="info">
                                        <h5 class="card-title">
                                            <a href="#">Power Steering</a>
                                        </h5>
    
                                        <p>
                                                More stability on haulage –
                                                Comfortable driving
                                        </p>
                                </div>
                            </div>
    
                            <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".5s">
                                <div class="home-card">
                                    <figure><a href="#"><img src="images/rear-tyr.jpg" alt=""></a></figure>
                                </div>
    
                                <div class="info">
                                        <h5 class="card-title">
                                            <a href="#">Bigger 13.6*28 Rear Tyre</a>
                                        </h5>
    
                                        <p>
                                                Better gripping - Less slippage during
                                                field operation
                                        </p>
                                </div>
                            </div>
    
                            <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".5s">
                                <div class="home-card">
                                    <figure><a href="#"><img src="images/single-clutch.jpg" alt=""></a></figure>
                                </div>
    
                                <div class="info">
                                        <h5 class="card-title">
                                            <a href="#">Diaphragm Type Single Clutch</a>
                                        </h5>
    
                                        <p>
                                                More contact area- better life, hence
                                                less maintenance
                                        </p>
                                </div>
                            </div>

                    </div>
            </div>
        </div>

    </div>
</section>