<div class="listing-tab-wrapper">
        <section class="listing-tab proDetail">
            <div class="container hidden-xs tabs-slider os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                <div class="row">
                    <div class="col-md-12 flexrow">
                            
                                <div class="tabsnav active"><a href="#features">Features</a></div>
                                <div class="tabsnav"><a href="#spec">Specification</a></div>
                                <div class="tabsnav"><a href="#implements">Implements</a></div>
                                <div class="tabsnav"><a href="#yourself">Do it yourself</a></div>
                          
                    </div>
                </div>
            </div>
    
    
            <div class="container our-product visible-xs tabs-slider os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                    <ul>
                        <li class="active">
                            <a data-toggle="tab" href="#features">Features</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#spec">Specification</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#implements">Implements</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#yourself">Do it yourself</a>
                        </li>
                            
                    </ul>
                </div>
        </section>
    </div>