<section class="listing-section-1 swaraj717">
    <div class="container os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">

        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Product & services</a></li>
            <li>Overview</li>
        </ul>

        <div class="row">
            <div class="col-md-7">

                <div class="warranty">
                    <img src="images/warranty-img.jpg" alt="">
                </div>

                <div class="sliderSec">

                    <div class="all">
                        <div class="slider">
                            <div class="owl-carousel one">
                                <div class="item-box">
                                    <figure><a class="play-icon" href="#myModalVideo" data-toggle="modal"><img
                                                src="images/play.png"></a><img src="images/tracktor-2.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="item-box"><img src="images/tracktor-2.jpg" alt=""></div>
                                <div class="item-box"><img src="images/tracktor-2.jpg" alt=""></div>
                                <div class="item-box"><img src="images/tracktor-2.jpg" alt=""></div>
                                <div class="item-box"><img src="images/tracktor-2.jpg" alt=""></div>
                                <div class="item-box"><img src="images/tracktor-2.jpg" alt=""></div>
                            </div>

                            <!-- <div class="left nonl"></div>
                                    <div class="right"></div> -->
                        </div>

                        <div class="slider-two">
                            <div class="owl-carousel two">
                                <div class="item"><img src="images/tracktor-2-video-thumb.jpg" alt=""></div>
                                <div class="item"><img src="images/tracktor-2-thumb.jpg" alt=""></div>
                                <div class="item"><img src="images/tracktor-2-thumb.jpg" alt=""></div>
                                <div class="item"><img src="images/tracktor-2-thumb.jpg" alt=""></div>
                                <div class="item"><img src="images/tracktor-2-thumb.jpg" alt=""></div>
                                <div class="item"><img src="images/tracktor-2-thumb.jpg" alt=""></div>
                            </div>
                            <!-- <div class="left-t nonl-t"></div>
                                    <div class="right-t"></div> -->
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-md-5">

                <h1 class="grn">
                    <span>swaraj</span>
                    717
                </h1>

                <!-- <h4>
                    <span>swaraj</span>
                    717
                </h4> -->

                <div class="share-box">
                    <span class="shareDrop"><img src="images/svg/share-icon.svg" alt="">
                        <div class="shareList">
                            <ul class="list-inline">
                                <li>
                                    <a href="https://facebook.com" target="_blank"><img src="images/svg/fb-icon.svg"
                                            alt=""></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com" target="_blank"><img src="images/svg/twitter-icon.svg"
                                            alt=""></a>
                                </li>
                                <li>
                                    <a href="https://web.whatsapp.com/" target="_blank"><img
                                            src="images/svg/whts-icon.svg" alt=""></a>
                                </li>
                                <li>
                                    <a href="http://gmail.com" target="_blank"><img src="images/svg/gm-icon.svg"
                                            alt=""></a>
                                </li>
                            </ul>

                        </div>
                    </span>


                </div>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenean euismod bibendum laoreet. Proin gravida dolor
                    sit amet lacus accumsan et viverra justo commodo.
                    Proin sodales pulvinar.
                </p>
                <p><strong>SWARAJ TARGET 630 KEY&nbsp;FEATURES</strong><br>Now it is possible for the modern farmer to
                    achieve every target of Spraying and Inter-culture.</p>
                <ul class="circle-list">
                    <li>Spray Saver Switch Technology</li>
                    <li>Sync-Shift Transmission</li>
                    <li>Wet IPTO Clutch Technology</li>
                    <li>Max Cool</li>
                    <li>Powerful DI Engine</li>
                    <li>MaxLift</li>
                    <li>ADDC Hydraulics</li>
                    <li>Narrowest FlexiTrack</li>
                </ul>
                <p class="MT30">
                    <a href="#" class="icons-link text-uppercase">
                        <span><img src="images/svg/doc-icon.svg" alt=""></span> <span>Download Brochure</span>
                    </a>
                </p>
               
                <div class="glance-dv">
                    <h5>Swaraj Target 630 Specifications at a Glance</h5>
                    <ul class="circle-list">
                        <li>No. Of Cylinder : 4</li>
                        <li>Horsepower : 25 HP</li>
                        <li>Engine : 1824 CC</li>
                        <li>Gear Box : 8 FORWARD + 2 REVERSE</li>
                        <li>Brakes : DRY DISC BRAKES</li>
                        <li>PTO HP : 22.5 HP</li>
                        <li>Capacity CC : 1538 cc</li>
                        <li>Wheel Drive : 2WD</li>
                    </ul>
                    
                </div>

                <p class="view-all">
                    <a href="#" class="btn btn-default green">GET A QUOTE</a>
                </p>



            </div>
        </div>
    </div>
</section>