<div class="container">
    <div class="search-result-product">
        <div class="no-result">
            <figure><img src="images/no-result.png" alt=""></figure>
            <span>No result found!</span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5>Products <small>( We have 3 Results for you )</small></h5>
            </div>
        </div>

        <div class="similarPro searchPro">

            <div class="row">
                <div class="col-md-12">
                    <div class="similarPro-carousel owl-carousel green">

                        <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".5s">
                            <div class="home-card">
                                <figure><a href="#"><img src="images/tractor-1.png" alt=""></a></figure>
                            </div>
                            <h5 class="card-title">
                                <a href="#">SWARAJ 735FE</a>
                            </h5>

                            <p class="btn-box">
                                <a href="#" class="btn btn-default green">View more</a>
                            </p>

                        </div>

                        <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".5s">
                            <div class="home-card">
                                <figure><a href="#"><img src="images/tractor-1.png" alt=""></a></figure>
                            </div>
                            <h5 class="card-title">
                                <a href="#">SWARAJ 735FE</a>
                            </h5>

                            <p class="btn-box">
                                <a href="#" class="btn btn-default green">View more</a>
                            </p>

                        </div>

                        <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".5s">
                            <div class="home-card">
                                <figure><a href="#"><img src="images/tractor-1.png" alt=""></a></figure>
                            </div>
                            <h5 class="card-title">
                                <a href="#">SWARAJ 735FE</a>
                            </h5>

                            <p class="btn-box">
                                <a href="#" class="btn btn-default green">View more</a>
                            </p>

                        </div>

                        <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".5s">
                            <div class="home-card">
                                <figure><a href="#"><img src="images/tractor-1.png" alt=""></a></figure>
                            </div>
                            <h5 class="card-title">
                                <a href="#">SWARAJ 735FE</a>
                            </h5>

                            <p class="btn-box">
                                <a href="#" class="btn btn-default green">View more</a>
                            </p>

                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
