<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="search-container">
                <div class="search-box clearfix">
                    <a href="#" class="search-btn">Search</a>
                    <div class="ohidden">
                        <input type="text" name="search" class="search-text-box" placeholder="Enter Keyword....">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
