<div class="container">
    <div class="search-result-product no-border">
        <div class="row">
            <div class="col-md-12">
                <h5>More results for the same <small>( We have 24 more Results for you )</small></h5>
            </div>
        </div>

        <div class="row MT50">   
            <div class="col-md-12">
                    <div class="home-card search-card">
                        <div class="card-info-box">
                            <p class="card-tags">NEWS</p>
                            <hr>
                            
                            <h5 class="card-title"><a href="#">Swaraj Launched a new Product 735XM</a></h5>
                            <p class="card-date">25th dec, 18</p>
                            <p class="card-description">Lorem ipsum dolor sit amet,consectetur adipiscing elit. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                                    Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis</p>
                            <p><a href="#" class="btn btn-default green">Read More</a></p>
                        </div>
                    </div>
            </div>

            <div class="col-md-12">
                    <div class="home-card search-card white">
                        <div class="card-info-box">
                            <p class="card-tags">CSR Activities</p>
                            <hr>
                            
                            <h5 class="card-title"><a href="#">Swaraj's Arjun Bhatacharya selected for the leader of the year</a></h5>
                            <p class="card-date">25th dec, 18</p>
                            <p class="card-description">Lorem ipsum dolor sit amet,consectetur adipiscing elit. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                                    Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis</p>
                            <p><a href="#" class="btn btn-default green">Read More</a></p>
                        </div>
                    </div>
            </div>


            <div class="col-md-12">
                    <div class="home-card search-card ">
                        <div class="card-info-box">
                            <p class="card-tags">Event</p>
                            <hr>
                            
                            <h5 class="card-title"><a href="#">Swaraj Launched a new Product 735XM</a></h5>
                            <p class="card-date">25th dec, 18</p>
                            <p class="card-description">Lorem ipsum dolor sit amet,consectetur adipiscing elit. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                                    Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis</p>
                            <p><a href="#" class="btn btn-default green">Read More</a></p>
                        </div>
                    </div>
            </div>


            <div class="col-md-12">
                    <div class="home-card search-card white">
                        <div class="card-info-box">
                            <p class="card-tags">Excellence</p>
                            <hr>
                            
                            <h5 class="card-title"><a href="#">Swaraj's plant to pass 6 sigma and TPM level 9</a></h5>
                            <p class="card-date">25th dec, 18</p>
                            <p class="card-description">Lorem ipsum dolor sit amet,consectetur adipiscing elit. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                                    Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis</p>
                            <p><a href="#" class="btn btn-default green">Read More</a></p>
                        </div>
                    </div>
            </div>

            <div class="col-md-12">
                    <div class="home-card search-card">
                        <div class="card-info-box">
                            <p class="card-tags">Event</p>
                            <hr>
                            
                            <h5 class="card-title"><a href="#">Swaraj Launched a new Product 735XM</a></h5>
                            <p class="card-date">25th dec, 18</p>
                            <p class="card-description">Lorem ipsum dolor sit amet,consectetur adipiscing elit. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                                    Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis</p>
                            <p><a href="#" class="btn btn-default green">Read More</a></p>
                        </div>
                    </div>
            </div>

            <div class="col-md-12">
                <p class="MT50 text-center">
                    <a href="#" class="btn btn-default green">Show more</a>
                </p>
            </div>


        </div>
    </div>
</div>
    