<section class="key-leader">
    <div class="container os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
        <h5>Key Leaders</h5>
        <div class="row">
           <div class="col-md-4 col-sm-4">
                <div class="leader-box">
                    <a href="#" data-toggle="modal" data-target="#teamModal"><img src="images/343x343.jpg" alt=""></a>
                    <div class="leader-info">
                        <h5><a href="#" data-toggle="modal" data-target="#teamModal">Mr. Sadbir Singh</a></h5>
                        <p>Chairman</p>
                    </div>
               </div>
           </div>
           <div class="col-md-4 col-sm-4">
                <div class="leader-box">
                    <a href="#" data-toggle="modal" data-target="#teamModal"><img src="images/343x343.jpg" alt=""></a>
                    <div class="leader-info">
                        <h5><a href="#" data-toggle="modal" data-target="#teamModal">Mr. Sadbir Singh</a></h5>
                        <p>Chairman</p>
                    </div>
               </div>
           </div>
           <div class="col-md-4 col-sm-4">
                <div class="leader-box">
                    <a href="#" data-toggle="modal" data-target="#teamModal"><img src="images/343x343.jpg" alt=""></a>
                    <div class="leader-info">
                        <h5><a href="#" data-toggle="modal" data-target="#teamModal">Mr. Sadbir Singh</a></h5>
                        <p>Chairman</p>
                    </div>
               </div>
           </div>
        </div>
        <div class="row">
           <div class="col-md-4 col-sm-4">
                <div class="leader-box">
                    <a href="#" data-toggle="modal" data-target="#teamModal"><img src="images/343x343.jpg" alt=""></a>
                    <div class="leader-info">
                        <h5><a href="#" data-toggle="modal" data-target="#teamModal">Mr. Sadbir Singh</a></h5>
                        <p>Chairman</p>
                    </div>
               </div>
           </div>
           <div class="col-md-4 col-sm-4">
                <div class="leader-box">
                    <a href="#" data-toggle="modal" data-target="#teamModal"><img src="images/343x343.jpg" alt=""></a>
                    <div class="leader-info">
                        <h5><a href="#" data-toggle="modal" data-target="#teamModal">Mr. Sadbir Singh</a></h5>
                        <p>Chairman</p>
                    </div>
               </div>
           </div>
           <div class="col-md-4 col-sm-4">
                <div class="leader-box">
                    <a href="#" data-toggle="modal" data-target="#teamModal"><img src="images/343x343.jpg" alt=""></a>
                    <div class="leader-info">
                        <h5><a href="#" data-toggle="modal" data-target="#teamModal">Mr. Sadbir Singh</a></h5>
                        <p>Chairman</p>
                    </div>
               </div>
           </div>
        </div>
    </div>
</section>
<section class="key-leader">
    <div class="container os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
        <h5>Management Team</h5>
        <div class="row">
           <div class="col-md-4 col-sm-4">
                <div class="leader-box">
                    <a href="#" data-toggle="modal" data-target="#teamModal"><img src="images/343x343.jpg" alt=""></a>
                    <div class="leader-info">
                        <h5><a href="#" data-toggle="modal" data-target="#teamModal">Mr. Sadbir Singh</a></h5>
                        <p>Chairman</p>
                    </div>
               </div>
           </div>
           <div class="col-md-4 col-sm-4">
                <div class="leader-box">
                    <a href="#" data-toggle="modal" data-target="#teamModal"><img src="images/343x343.jpg" alt=""></a>
                    <div class="leader-info">
                        <h5><a href="#" data-toggle="modal" data-target="#teamModal">Mr. Sadbir Singh</a></h5>
                        <p>Chairman</p>
                    </div>
               </div>
           </div>
           <div class="col-md-4 col-sm-4">
                <div class="leader-box">
                    <a href="#" data-toggle="modal" data-target="#teamModal"><img src="images/343x343.jpg" alt=""></a>
                    <div class="leader-info">
                        <h5><a href="#" data-toggle="modal" data-target="#teamModal">Mr. Sadbir Singh</a></h5>
                        <p>Chairman</p>
                    </div>
               </div>
           </div>
        </div>
        <div class="row">
           <div class="col-md-4 col-sm-4">
                <div class="leader-box">
                    <a href="#" data-toggle="modal" data-target="#teamModal"><img src="images/343x343.jpg" alt=""></a>
                    <div class="leader-info">
                        <h5><a href="#" data-toggle="modal" data-target="#teamModal">Mr. Sadbir Singh</a></h5>
                        <p>Chairman</p>
                    </div>
               </div>
           </div>
           <div class="col-md-4 col-sm-4">
                <div class="leader-box">
                    <a href="#" data-toggle="modal" data-target="#teamModal"><img src="images/343x343.jpg" alt=""></a>
                    <div class="leader-info">
                        <h5><a href="#" data-toggle="modal" data-target="#teamModal">Mr. Sadbir Singh</a></h5>
                        <p>Chairman</p>
                    </div>
               </div>
           </div>
           <div class="col-md-4 col-sm-4">
                <div class="leader-box">
                    <a href="#" data-toggle="modal" data-target="#teamModal"><img src="images/343x343.jpg" alt=""></a>
                    <div class="leader-info">
                        <h5><a href="#" data-toggle="modal" data-target="#teamModal">Mr. Sadbir Singh</a></h5>
                        <p>Chairman</p>
                    </div>
               </div>
           </div>
        </div>
        <p class="view-all">
            <a href="#" class="btn btn-default green">Show more</a>
        </p>
    </div>
</section>
<div id="teamModal" class="modal fade" role="dialog">
  <div class="container">
        <div class="close-video close-btn">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="leader-poup">
            <div class="row">
                <div class="col-md-4"><img src="images/343x343.jpg" alt="" class="resize"></div>
                <div class="col-md-8">
                    <div class="leader-info">
                        <h5>Mr. Sadbir Singh</h5>
                        <div class="clearfix">
                            <p class="FL MT5">Chairman</p>
                            <p class="FR sos-icon">Follow on <a href="#" class="ML10"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a></p>
                        </div>
                        <div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>