 <section class="common-section">
    <div class="container os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
        <div class="row">
            <div class="col-md-10 col-md-push-1 CTR MTAL">
                <h4>Strong Base of Strong Structure</h4>
                <p>Under the leadership of brightest minds & most experienced executives working passionately to make a difference</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <div class="row strong-base">
                    <div class="imgbox">
                        <img src="images/425x350.jpg" alt="" class="resize">
                    </div>
                    <div class="imgcontain">
                        <div class="tesimonial-box">
                            <p><img src="images/svg/tesimonial.svg" width="40" alt=""></p>
                            <p>Our team of passionate individuals, working hard and enthusiastically to make a difference in the life of our
customer, company and nation...</p>
                            <p class="name-box">Mr. Rahul Bhatia</p>
                            <p>CEO SWARAJ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>