<div class="container PB30">
  <div class="row">
    <div class="col-md-12">
      <div class="follow-us">
        <span>{% trans %}Share in{% endtrans %}</span>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ data.link }}" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="http://twitter.com/share?url={{ data.link }}" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        {# <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ data.url ~ data.link }}" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a> #}
      </div>
    </div>
  </div>
</div>