{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-push-1">
      <div class="search-container no-padding-top">
        <div class="search-box clearfix">
        {{ form.actions }}
          <div class="ohidden">
            {{ form.search }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

